﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@{
    var itter = 1;
}
@if (Model.Nodes.Any())
{
    <nav class="breadcrumb">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            @foreach (var node in Model)
            {
                if (node == Model.Last())
                {
                    <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        @Html.DisplayFor(m => node)
                        <meta itemprop="position" content="@(itter++)" />
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        @Html.DisplayFor(m => node)
                        <meta itemprop="position" content="@(itter++)" />
                    </li>
                }
            }
        </ol>
    </nav>
}
