﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (string.IsNullOrEmpty(Model.Description))
{
    <a href="@Model.Url" itemscope itemtype="http://schema.org/Thing" itemprop="item">
        <span itemprop="name">
            @Model.Title
        </span>
    </a>
}
else
{
    <a href="@Model.Url" title="@Model.Description" itemscope itemtype="http://schema.org/Thing" itemprop="item">
        <span itemprop="name">
            @Model.Title
        </span>
    </a>
}