﻿@using Dan.Infrastructures.Razor
@model Dan.View.Cart.TradecartConfirmOrder

@{
    ViewBag.Title = "Подтверждение заказа";
    var userAttribs = new Dictionary<string, object>
    {
        { "class" , "form-control"},
        //{ "disabled", "disabled" },
       // { "readonly", "readonly" },
    };
}

<style>
    .cart-total td {
        width: 50%;
        padding: 5px 0;
        text-align: right;
    }

        .cart-total td:first-child {
            text-align: left;
        }

    .cart-total .giftcard-remaining {
        display: block;
        font-style: italic;
    }

    .cart-total .order-total {
        font-size: 20px;
        color: white;
    }

        .cart-total .order-total strong {
            font-weight: normal;
        }

    .cart-total .earn-reward-points {
        font-style: italic;
    }
</style>

<script>
    $(function () {
        $("#DeliveryButton_1").click(function () {
            //    Доставка
            $("#DeliveryTab").show();
            $("#Delivery").val(1);
        });

        $("#DeliveryButton_2").click(function () {
            //    Самовывоз
            $("#Delivery").val(0);
            $("#DeliveryTab").hide();
        });
    });
</script>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2 style="text-align: center; background-color: #4050af; height: 50px; line-height: 50px; margin: 0px; color: white;">
                Подтверждение заказа
            </h2>
            @Html.Partial("IndexProducts", Model.Products)
        </div>
        <div class="clearfix"></div>



        @using (Html.BeginForm())
        {
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-8" style="padding-right: 0;">
                <div style="background-color: #313f8f;; color: white;">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h2 style="text-align: center; background-color: #4050af; height: 50px; line-height: 50px; margin-top: 0px; margin-bottom: 20px;">
                            Контактная информация
                        </h2>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                @Html.LabelFor(model => model.Address.FirstName, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Address.FirstName, new { htmlAttributes = userAttribs })
                                @Html.ValidationMessageFor(model => model.Address.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                @Html.LabelFor(model => model.Address.Email, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Address.Email, new { htmlAttributes = userAttribs })
                                @Html.ValidationMessageFor(model => model.Address.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                @Html.LabelFor(model => model.Address.PhoneNumber, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Address.PhoneNumber, new { htmlAttributes = userAttribs })
                                @Html.ValidationMessageFor(model => model.Address.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            @Html.EditorFor(model => model.Delivery, new { htmlAttributes = new { @style = "display: none;" } })
                            <div id="DeliveryButton_1" class="col-md-6" style="text-align: center; background-color: #4050af; height: 73px; line-height: 73px; margin-top: 15px; font-size: 30px;
    font-weight: 500;">
                                Доставка
                            </div>

                            <div id="DeliveryButton_2" class="col-md-6" style="text-align: center; background-color: #808080; height: 73px; line-height: 73px; margin-top: 15px; font-size: 30px;
    font-weight: 500;">
                                Самовывоз
                            </div>
                        </div>



                        <div class="clearfix"></div>

                        <div id="DeliveryTab" style="padding-bottom: 25px;">
                            <h2 style="text-align: center; background-color: #95a5a6; height: 50px; line-height: 50px; margin-top: 0px; margin-bottom: 20px;">
                                Адрес доставки
                            </h2>

                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    @Html.LabelFor(model => model.Address.ZipPostalCode, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.ZipPostalCode, new { htmlAttributes = userAttribs })
                                    @Html.ValidationMessageFor(model => model.Address.ZipPostalCode, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Address.StateProvince, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.StateProvince, new { htmlAttributes = userAttribs })
                                    @Html.ValidationMessageFor(model => model.Address.StateProvince, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    @Html.LabelFor(model => model.Address.City, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = userAttribs })
                                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Address.Address, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.Address, new { htmlAttributes = userAttribs })
                                    @Html.ValidationMessageFor(model => model.Address.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4" style="padding-left: 0;">
                <div style="background-color: #4050af; color: white;  padding: 31px;">
                    <table class="cart-total" style="width: 100%; border-collapse: collapse;">
                        <tbody>
                            <tr class="order-subtotal">
                                <td class="cart-total-left">
                                    <label>Стоимость:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary">
                                        @Html.AsRuble(Model.Price)
                                    </span>
                                </td>
                            </tr>
                            <tr class="order-subtotal">
                                <td class="cart-total-left">
                                    <label>
                                        Общий вес:
                                    </label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary">
                                        @Html.DisplayFor(model => model.Weight) Кг
                                    </span>
                                </td>
                            </tr>
                            <tr class="shipping-cost">
                                <td class="cart-total-left">
                                    <label>Доставка:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary"><strong> Самовывоз</strong></span>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <td class="cart-total-left">
                                    <label>Всего:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary">
                                        <strong>
                                            @Html.AsRuble(Model.Price)
                                        </strong>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <hr />
                    <div class="terms-of-service">
                        @Html.CheckBoxFor(model => model.TermsofService)
                        <span>
                            Я соглашаюсь с правилами оказания услуг и даю согласие на обработку своих Персональных данных.
                        </span>
                        @Html.ValidationMessageFor(model => model.TermsofService, "", new { @class = "text-danger" })

                    </div>
                </div>
                <input type="submit" value="Оформить заказ" style="text-align: center;
    margin: 0;
    background-color: #95a5a6;
    color: white;
    padding: 0px;
    display: block;
    border: initial;
    max-width: initial;
    width: 100%;
    border-radius: initial;
    height: 73px;
    line-height: 73px;
    font-size: 30px;" />
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>