﻿@using Dan.Infrastructures.Razor
@model IEnumerable<Dan.View.Cart.ProductCartView>

<style>
    .ItemRow {
        margin-top: 15px;
        font-size: 16px;
    }

    .ItemRow .Title {
        display: block;
        color: #313f8f;
        padding-top: 10px;
        font-size: 18px;
    }

    .ItemRow .Params {
        color: #313f8f;
        padding-top: 10px;
    }

    .ItemRow .Value {
        font-size: 22px;      
    }

    .ItemRow .Image {
        padding-left: 0;
    }

    .ItemRow .Image img {
        padding-left: 0;

        width: 100%;
        height: 100%;
        background-color: white;
        padding: 10px;
    }

</style>


@foreach (var item in Model)
{
    <div class="ItemRow">
        <div class="col-md-2 Image">
            <img src="@item.Product.Image.FilePath"/>
        </div>

        <div class="col-md-4">
            @Html.ActionLink(item.Product.Name, "Product", "Catalog", new {id = item.Product.EntityId}, new {@class= "Title" })
        </div>

        <div class="col-md-2">
            <div class="Params">
                Цена за ед.
            </div>

            <div class="Value">
            @if (item.Cost != item.Product.Price.Price)
            {
                <s>
                    @Html.DisplayFor(modelItem => item.Product.Price.Price)
                </s>
            }
            @Html.AsRuble(item.Cost, "font-size: 12px;")
            </div>
        </div>

        <div class="col-md-2">
            <div class="Params">
                Количество
            </div>

            @using (Ajax.BeginForm("Create", "Cart", new AjaxOptions
            {
                Url = Url.Action("CreateAjax", "Cart"),
                OnSuccess = "OnSuccessAddProductToCart",
                HttpMethod = "POST"
            }))
            {
                @Html.TextBoxFor(modelItem => item.EntityId, new {style = "display: none;"})
                @Html.TextBoxFor(modelItem => item.Amount, new {style = "width: 50px;"})
            }
        </div>

        <div class="col-md-2">
            <div class="Params">
                Стоимость
            </div>
            <div class="Value">
                @Html.AsRuble(item.TotalCost, "font-size: 12px;")
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


}
