﻿@using Dan.Infrastructures.Razor
@using Dan.Models.Common
@using Dan.View.Cart
@model TradecartOrderView

@{
    ViewBag.Title = "Корзина";
}
<style>
    .Param {
        background-color: #f4f4f4;
    }

    .Param .Key {
        width: 150px;
    }

    .AddToCart {
        display: block;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        padding-top: 0;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

</style>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2 style="text-align: center; background-color: #4050af; height: 50px; line-height: 50px; margin: 0px; color: white;">
                Ваша корзина
            </h2>
            <div class="col-md-9" style="padding: 0;">

                @Html.Partial("IndexProducts", Model.Products)

                <div class="clearfix"></div>
            </div>

            <div class="col-md-3" style="background-color: white;">

                <div class="Param">
                    <span class="Key">Товаров в корзине</span>
                    <span class="Value">@Model.Products.Count</span>
                </div>

                <div class="Param">
                    <span class="Key" style="width: 115px;">Сумма заказа</span>
                    <span class="Value">@Html.AsRuble(Model.Price, "font-size: 14px;")</span>
                </div>

                @Html.ActionLink("Оформить заказ", "ConfirmOrder", null, new { @class = "AddToCart" })
            </div>


        </div>

        <div class="clearfix"></div>
    </div>
</div>
