﻿@using Dan.Infrastructures.Razor
@using Dan.Models.Common
@using Dan.View.Cart
@model TradecartOrderView

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2 style="text-align: center; background-color: #4050af; height: 50px; line-height: 50px; margin: 0px; color: white;">
                Оплата заказа
            </h2>

            @Html.Partial("PaymentProducts", Model.Products)
        </div>
        <div class="clearfix"></div>
        @Html.Partial("PaymentCofirm", Model)

    </div>
</div>
