﻿@using Dan.Infrastructures.Razor
@model Dan.View.Cart.TradecartOrderView

<style>
    .cart-total td {
        width: 50%;
        padding: 5px 0;
        text-align: right;
    }

        .cart-total td:first-child {
            text-align: left;
        }

    .cart-total .giftcard-remaining {
        display: block;
        font-style: italic;
    }

    .cart-total .order-total {
        font-size: 20px;
        color: white;
    }

        .cart-total .order-total strong {
            font-weight: normal;
        }

    .cart-total .earn-reward-points {
        font-style: italic;
    }
</style>


@using (Html.BeginForm())
{
    <div class="col-md-8" style="padding-right: 0;">
        <div style="background-color: #313f8f;; color: white;">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 style="text-align: center; background-color: #4050af; height: 50px; line-height: 50px; margin-top: 0px; margin-bottom: 20px;">
                    Информация о заказе
                </h2>
                
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.AddressId, new { @class = "control-label" })
                            @Html.EditorFor(model => model.AddressId, new { htmlAttributes = new { @class = "form-control" }})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Address.FirstName, new {@class = "control-label"})
                            @Html.EditorFor(model => model.Address.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Address.Email, new {@class = "control-label"})
                            @Html.EditorFor(model => model.Address.Email, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Address.PhoneNumber, new {@class = "control-label"})
                            @Html.EditorFor(model => model.Address.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Address.Address1, new {@class = "control-label"})
                            @Html.TextAreaFor(model => model.Address.Address1, 12, 16, new { @class = "form-control", style= "height: 263px; max-height: 263px; max-width: 100%;" })
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>
    </div>
    <div class="col-md-4" style="padding-left: 0;">
        <div style="background-color: #4050af; color: white;  padding: 31px;">
            <table class="cart-total" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr class="order-subtotal">
                        <td class="cart-total-left">
                            <label>Стоимость:</label>
                        </td>
                        <td class="cart-total-right">
                            <span class="value-summary">
                                @Html.AsRuble(Model.Price)
                            </span>
                        </td>
                    </tr>
                    <tr class="order-subtotal">
                        <td class="cart-total-left">
                            <label>
                                Общий вес:
                            </label>
                        </td>
                        <td class="cart-total-right">
                            <span class="value-summary">
                                @Html.DisplayFor(model => model.Weight) Кг
                            </span>
                        </td>
                    </tr>
                    <tr class="shipping-cost">
                        <td class="cart-total-left">
                            <label>Доставка:</label>
                        </td>
                        <td class="cart-total-right">
                            <span class="value-summary"><strong> Самовывоз</strong></span>
                        </td>
                    </tr>
                    <tr class="order-total">
                        <td class="cart-total-left">
                            <label>Всего:</label>
                        </td>
                        <td class="cart-total-right">
                            <span class="value-summary">
                                <strong>
                                    @Html.AsRuble(Model.Price)
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr />
        </div>
        <input type="submit" value="Оформить заказ" style="text-align: center;
    margin: 0;
    background-color: #95a5a6;
    color: white;
    padding: 0px;
    display: block;
    border: initial;
    max-width: initial;
    width: 100%;
    border-radius: initial;
    height: 73px;
    line-height: 73px;
    font-size: 30px;" />
    </div>
    <div class="clearfix"></div>
}