﻿@using Dan.Infrastructures.Razor
@model IEnumerable<Dan.View.Cart.ProductCartView>
@{
    ViewBag.Title = "Index";
    int itter = 1;
}

<style>
    table.products tr td
    {
        vertical-align: middle;
    }
</style>

<table class="table table-bordered products" style="margin-bottom: 0;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TotalWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(itter++)
            </td>
            <td style="width: 115px; padding: 0;">
                <img src="@item.Product.Image.FilePath" style="width: 100%" />
            </td>
            <td>
                <b>
                    @Html.ActionLink(item.Category.Name, "Category", "Catalog", new {id = item.Category.EntityId}, new {style = "color: black;"}) >
                </b>
                <b>
                    <u>
                        @Html.ActionLink(item.Product.Name, "Product", "Catalog", new {id = item.Product.EntityId}, new {style = "color: black;"}) <br/>
                    </u>
                </b>
                <i>
                    @Html.Raw(item.Product.Description)
                </i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight) Кг
            </td>
            <td>
                @Html.AsRuble(item.TotalCost)
            </td>
        </tr>

    }
</table>