﻿@using Dan.Areas.Admin.View.Product
@model Dan.Areas.Admin.View.Category.AdminCategoryLargeView

@{
    ViewBag.TargetIndex = Model.EntityId;
    ViewBag.Title = $"{Model.Name} :: {Model.ParentCategoryName}";
}
<div class="col-md-6">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Товары", "Index") >
                @if (string.IsNullOrWhiteSpace(Model.ParentCategoryName) == false)
                {
                    @Html.ActionLink(Model.ParentCategoryName, "Details", "ProductCategory", new {id = Model.ParentCategoryId}, null) @:>
                }
                <b>
                    @Html.ActionLink(Model.Name, "Details", new { id = Model.EntityId }, null)
                </b>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-bordered">
                <tr><td>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.EntityId)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Image)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Image)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.DisplayOrder)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DisplayOrder)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Published)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Published)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Deleted)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.CreatedOnUtc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CreatedOnUtc)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.ParentCategoryId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ParentCategoryId)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.ParentCategoryName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ParentCategoryName)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.CountOfProducts)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CountOfProducts)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Seo.MetaKeywords)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Seo.MetaKeywords)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Seo.MetaDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Seo.MetaDescription)
                    </td></tr>

                <tr><td>
                        @Html.DisplayNameFor(model => model.Seo.MetaTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Seo.MetaTitle)
                    </td></tr>

            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        @Html.Partial("../Home/LatetsSellers", Model.LatestOrders)
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        @Html.Partial("../ProductCategory/Index", Model.ChildCategories);
    </div>
</div>

@Html.Partial("../Product/Index", Model.Products)

<div class="clearfix"></div>

<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Просмотры
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="echart_donut" style="height:350px;"></div>
        </div>
    </div>
</div>


<div class="col-md-8">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Статистика
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="echart_line" style="height:350px;"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<script src="~/Content/Admin/vendors/echarts/dist/echarts.js"></script>
<script src="~/Content/Admin/vendors/echarts/theme/macarons.js"></script>
<script src="~/Content/Admin/vendors/echarts/theme/dark.js"></script>

<script>
    
    var myChart = echarts.init(document.getElementById('echart_line'));
    myChart.setOption({
        title: {
            text: 'Статистика заказов и просмотров',
            subtext: 'Subtitle'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Просмотры', 'Заказы', 'Закладки']
        },
        toolbox: {
            show: true,
            feature: {
                magicType: {
                    show: true,
                    type: ['line', 'bar', 'stack', 'tiled']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon2', 'Tue2', 'Wed2', 'Thu2', 'Fri2', 'Sat2', 'Sun2', ]
        }],
        yAxis: [{
            type: 'value'
        }],
        series: [{
            name: 'Просмотры',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [10, 12, 21, 54, 260, 830, 710, 10, 12, 21, 54, 260, 830, 710]
        }, {
            name: 'Заказы',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [30, 182, 434, 791, 390, 30, 10, 30, 182, 434, 791, 390, 30, 10]
        }, {
            name: 'Закладки',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [1320, 1132, 601, 234, 120, 90, 20, 1320, 1132, 601, 234, 120, 90, 20]
        }]
    });


    var dataStyle = {
        normal: {
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        }
    };
    var placeHolderStyle = {
        normal: {
            color: 'rgba(0,0,0,0)',
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        },
        emphasis: {
            color: 'rgba(0,0,0,0)'
        }
    };
    

    var myChart = echarts.init(document.getElementById('echart_donut'));
    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        calculable: true,
        legend: {
            //orient: 'vertical',
            //x: 'left',
            x: 'center',
            y: 'bottom',
            data: ['Общестроительные материалы', 'Газобетонные и стеновые блоки', 'Газобетонные u-блоки', 'Газобетонные u-блоки2', 'Другие']
        },
        toolbox: {
            show: true,
            feature: {
                magicType: {
                    show: true,
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'center',
                            max: 1548
                        }
                    }
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        series: [{
            name: 'Access to the resource',
            type: 'pie',
            radius: ['35%', '55%'],
            itemStyle: {
                normal: {
                    label: {
                        show: true
                    },
                    labelLine: {
                        show: true
                    }
                },
                emphasis: {
                    label: {
                        show: true,
                        position: 'center',
                        textStyle: {
                            fontSize: '14',
                            fontWeight: 'normal'
                        }
                    }
                }
            },
            data: [{
                value: 7000,
                name: 'Общестроительные материалы'
            }, {
                value: 310,
                name: 'Газобетонные и стеновые блоки'
            }, {
                value: 234,
                name: 'Газобетонные u-блоки'
            }, {
                value: 135,
                name: 'Газобетонные u-блоки2'
            }, {
                value: 1548,
                name: 'Другие'
            }]
        }]
    });



</script>