﻿@model IEnumerable<Dan.Areas.Admin.View.Category.AdminCategoryShortView>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")



<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Категории
                [ @Html.ActionLink("Добавить категорию", "Create", new {id = ViewBag.TargetIndex}) ]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="CategoryDataBase" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ChildCategories)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Published)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Deleted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOnUtc)
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href=@Url.Action("Details", new {id = item.EntityId})>
                                    @Html.DisplayFor(modelItem => item.EntityId)
                                </a>
                            </td>
                            <td>
                                <a href=@Url.Action("Details", new {id = item.EntityId})>
                                    <img src="@item.Image" />
                                </a>
                            </td>
                            <td>
                                <a href=@Url.Action("Details", new {id = item.EntityId})>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>                            </td>
                            <td>
                                <ul>
                                    @foreach (var c in item.ChildCategories)
                                    {
                                        <li>
                                            @Html.ActionLink(c.Name, "Details", new { id = c.EntityId })
                                        </li>
                                    }
                                </ul>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Published)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Deleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#CategoryDataBase').dataTable();
</script>