﻿@using Dan.Areas.Admin.View.Product
@model Dan.Areas.Admin.View.Product.AdminProductLargeView

@{
    ViewBag.Title = Model.Name;
}

<style>
    .panel_toolbox
    {
        min-width: 0;
    }
</style>

<div class="col-md-6">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Товары", "Index") >
                @Html.ActionLink(Model.CategoryName, "Details", "ProductCategory", new { id = Model.CategoryId }, null) >
                <b>
                    @Html.ActionLink(Model.Name, "Details", new { id = Model.EntityId }, null)
                </b>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Просмотреть", "Edit", new { id = Model.EntityId }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Изменить", "Edit", new { id = Model.EntityId }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Удалить", "Edit", new { id = Model.EntityId }, null)
                        </li>
                    </ul>
                </li>
   
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-bordered">
                <tr class="active">
                    <td>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.EntityId)
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        @Html.DisplayNameFor(model => model.Sku)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Sku)
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CategoryName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Image)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Image)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>

                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.Price)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.OriginalPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.OriginalPrice)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.OldPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.OldPrice)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.CallForPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.CallForPrice)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.SpecialPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.SpecialPrice)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.SpecialPriceStartDateTimeUtc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.SpecialPriceStartDateTimeUtc)
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.Price.SpecialPriceEndDateTimeUtc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price.SpecialPriceEndDateTimeUtc)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Shipping.IsShipEnabled)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Shipping.IsShipEnabled)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Shipping.IsFreeShipping)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Shipping.IsFreeShipping)
                    </td>
                </tr>

                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Shipping.NotReturnable)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Shipping.NotReturnable)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Dimensions.Weight)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Dimensions.Weight)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Dimensions.Length)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Dimensions.Length)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Dimensions.Width)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Dimensions.Width)
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.Dimensions.Height)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Dimensions.Height)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Статистика заказов, просмотров и желаний
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="echart_line" style="height:350px;"></div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        @Html.Partial("../Home/LatetsSellers", Model.LatestOrders)
    </div>
</div>

<div class="clearfix"></div>


<!-- echart -->
<script src="~/Content/Admin/vendors/echarts/dist/echarts.js"></script>

<script>
    var myChart = echarts.init(document.getElementById('echart_line'));
    myChart.setOption({
        title: {
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Просмотры', 'Заказы', 'Закладки']
        },
        toolbox: {
            show: true,
            feature: {
                magicType: {
                    show: true,
                    type: ['line', 'bar', 'stack', 'tiled']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        }],
        yAxis: [{
            type: 'value'
        }],
        series: [{
            name: 'Просмотры',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [10, 12, 21, 54, 260, 830, 710]
        }, {
            name: 'Заказы',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [30, 182, 434, 791, 390, 30, 10]
        }, {
            name: 'Закладки',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [1320, 1132, 601, 234, 120, 90, 20]
        }]
    });


    var dataStyle = {
        normal: {
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        }
    };
    var placeHolderStyle = {
        normal: {
            color: 'rgba(0,0,0,0)',
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        },
        emphasis: {
            color: 'rgba(0,0,0,0)'
        }
    };

</script>