﻿@model Dan.Areas.Admin.View.Product.AdminProductEditView

@{
    ViewBag.Title = "Редактирование товара";
}

<link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<script src="~/Content/Admin/vendors/iCheck/icheck.min.js"></script>
<div class="row">
    @Html.Partial("SectionHeader", "Редактирование товара")
</div>


@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Основная информация
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.Sku, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Sku, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sku, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ManufactureId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ManufactureId, Model.ManafacturerSelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ManufactureId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ShortDescription, 8, 8, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.FullDescription, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.FullDescription, 15, 8, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FullDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdminComment, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.AdminComment, 4, 8, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AdminComment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Marketing.MarkAsNew, new { @class = "control-label col-md-4" })
                            <div class="col-md-1">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Marketing.MarkAsNew, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Marketing.MarkAsNew, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Marketing.MarkAsNewStartDateTimeUtc, new {@class = "control-label col-md-4", style= "padding-top: 0;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Marketing.MarkAsNewStartDateTimeUtc, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Marketing.MarkAsNewStartDateTimeUtc, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Marketing.MarkAsNewEndDateTimeUtc, new {@class = "control-label col-md-4", style = "padding-top: 0;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Marketing.MarkAsNewEndDateTimeUtc, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Marketing.MarkAsNewEndDateTimeUtc, "", new {@class = "text-danger"})
                                </div>
                            </div>

                        </div>
                        
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Published, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Published, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Deleted, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Deleted, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Deleted, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Изображение
                        <small>
                            Выберите изображение из списка или загрузите новое
                        </small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <img style="margin: 0 auto; display: block;" src="@Model.Image.FilePath" alt="@Model.Image.Description" title="@Model.Image.Title ">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ImageId, Model.ImageSelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ImageId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Цена
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.Price, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.OriginalPrice, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.OriginalPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.OriginalPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.OldPrice, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.OldPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.OldPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.CallForPrice, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Price.CallForPrice, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Price.CallForPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.SpecialPrice, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.SpecialPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.SpecialPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.SpecialPriceStartDateTimeUtc, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.SpecialPriceStartDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.SpecialPriceStartDateTimeUtc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price.SpecialPriceEndDateTimeUtc, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Price.SpecialPriceEndDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price.SpecialPriceEndDateTimeUtc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Доставка
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Shipping.IsShipEnabled, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Shipping.IsShipEnabled, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Shipping.IsShipEnabled, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Shipping.IsFreeShipping, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Shipping.IsFreeShipping, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Shipping.IsFreeShipping, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Shipping.NotReturnable, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Shipping.NotReturnable, new { @class = "flat" })
                                    @Html.ValidationMessageFor(model => model.Shipping.NotReturnable, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dimensions.Weight, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Dimensions.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dimensions.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dimensions.Length, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Dimensions.Length, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dimensions.Length, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dimensions.Width, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Dimensions.Width, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dimensions.Width, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dimensions.Height, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Dimensions.Height, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dimensions.Height, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        SEO
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Seo.MetaKeywords, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Seo.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Seo.MetaKeywords, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Seo.MetaDescription, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Seo.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Seo.MetaDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Seo.MetaTitle, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Seo.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Seo.MetaTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
