﻿@model IEnumerable<Dan.Areas.Admin.View.Product.AdminProductShortView>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Товары
                [ @Html.ActionLink("Добавить товар", "Create", new { id = ViewBag.TargetIndex }) ]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Price.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shipping.IsShipEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dimensions.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dimensions.Dimensions)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.AdminComment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MarkAsNew)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOnUtc)
                    </th>
                </tr>
                </thead>


                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Details", new {id = item.EntityId})>
                                @Html.DisplayFor(modelItem => item.EntityId)
                            </a>
                        </td>
                        <td>
                            <a href=@Url.Action("Details", new {id = item.EntityId})>
                                <img style="width: 300px;" src="@item.Image.FilePath" />
                            </a>
                        </td>
                        <td>
                            <strong>
                                <a href=@Url.Action("Details", new {id = item.EntityId})>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </strong> 
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a href=@Url.Action("Details", "ProductCategory", new {id = item.CategoryId})>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </a>
                        </td>
                        <td>
                            @if (item.Price .Price  != item.Price.OldPrice && item.Price.OldPrice >= 1)
                            {
                                <s>
                                    @Html.DisplayFor(modelItem => item.Price.OldPrice)
                                </s>
                            }
                            
                            @if (item.Price.SpecialPrice != null && item.Price.SpecialPriceEndDateTimeUtc < DateTime.Now)
                            {
                                <s>
                                    @Html.DisplayFor(modelItem => item.Price.Price)
                                </s>
                                <b>
                                    Акция: @Html.DisplayFor(modelItem => item.Price.SpecialPrice)
                                </b>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Price.Price)
                            }
                            руб
                        </td>
                        <td>
                            

                            @if (item.Shipping.IsShipEnabled)
                            {
                                if (item.Shipping.IsFreeShipping)
                                {
                                    @: Есть бесплатная доставка
                                }
                                else
                                {
                                    @: Нет бесплатной доставки
                                }
                            }
                            else
                            {
                                @: Нет доставки
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dimensions.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dimensions.Dimensions)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AdminComment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Published)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarkAsNew)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
    
<script>
    $('#MatchesDataBase').dataTable();
</script>