﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Интернет-магазин спортивных товаров</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
        
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>
<body style="background-color: #f4f4f4;">
@Html.Partial("Navigation/TopHeaderBar")
@Html.Partial("Navigation/TopNavigationBar")

    <div class="row">
        <div class="container">
            <div class="col-md-12" >
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
@Html.Partial("Navigation/Footer")
  
@Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
