﻿@model IEnumerable<Dan.Areas.Admin.View.Image.AdminCatalogImageShortView>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Изображения
                [ @Html.ActionLink("Добавить изображение", "Create") ]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityId)
                        </th>
                        <th>
                            Изображение
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TitleAttribute)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AltAttribute)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntityId)
                            </td>
                            <td style="padding: 0; width: 120px;">
                                <img style="height: 120px; width:100%;" src="@item.FilePath" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TitleAttribute)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AltAttribute)
                            </td>
                            <td>
                                @Html.ActionLink(item.CategoryName, "Details", "ProductImageCategory", new {id = item.CategoryId}, new { title = "Перейти к категории" })
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>