﻿@model List<Dan.View.Cart.OrderCustomerAddressView>

@{
    ViewBag.Title = "Список контрагентов";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="clearfix"></div>
    @foreach (var a in Model)
    {
        <div class="col-md-4">
            <div style="background-color: #4050af; color:white; padding: 5px;">
                <h2 style="font-size: 20px; padding-left: 20px;">
                    @a.UserName
                </h2>
                <hr/>
                <p style="padding-left: 20px;">
                    @a.SummaryAddress
                </p>
                <hr/>
                @Html.ActionLink("Изменить", "Edit", new {id = a.EntityId}, new {style = "font-size: 20px;text-align: center;display: block;padding-bottom: 20px;width: 100%;height: 50px;"})
                @Html.ActionLink("Удалить", "Delete", new {id = a.EntityId}, new {style = "font-size: 20px;text-align: center;display: block;padding-bottom: 20px;width: 100%;height: 50px;"})
            </div>
        </div>
    }

    <div class="col-md-4">
        <div style="background-color: #95a5a6; color:white; padding: 5px;">
            @Html.ActionLink("Добавить контрагента", "Create", null, new {style = "font-size: 20px;text-align: center;display: block;padding-bottom: 20px;     padding-top: 10px;width: 100%;height: 50px;"})
        </div>
    </div>
    <div class="clearfix"></div>

</div>