﻿@using Dan.Areas.Admin.View.Category
@using Dan.Areas.Admin.View.Product
@model Dan.Areas.Admin.View.Home.HomeTotalStatisticView
<!-- echart -->

    <!-- Chart.js -->
<script src="~/Content/Admin/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="~/Content/Admin/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Flot -->
<script src="~/Content/Admin/vendors/Flot/jquery.flot.js"></script>
<script src="~/Content/Admin/vendors/Flot/jquery.flot.pie.js"></script>
<script src="~/Content/Admin/vendors/Flot/jquery.flot.time.js"></script>
<script src="~/Content/Admin/vendors/Flot/jquery.flot.stack.js"></script>
<script src="~/Content/Admin/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/Content/Admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/Content/Admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/Content/Admin/vendors/flot.curvedlines/curvedLines.js"></script>

<div>
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Всего клиентов</span>
            <div class="count">@Model.TotalUsers</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Мужчин</span>
            <div class="count green">@Model.MaleUsers</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Женщин</span>
            <div class="count green">@Model.FemaleUsers</div>
        </div>
       
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Всего заказов</span>
            <div class="count green">@Model.TotalOrders</div>
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Заказов в этом месяце</span>
            <div class="count green">@Model.OredersInCurrentMonth</div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Заказов в прошлом месяце</span>
            <div class="count green">@Model.OredersInLastMonth</div>
        </div>

    </div>
    <!-- /top tiles -->
</div>




<div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Новые заказы
                </h2>
                <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>@(Model.OrdersGraphicView.FirstOrDefault()?.Date) - @(Model.OrdersGraphicView.LastOrDefault()?.Date)</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="demo-container" style="height:280px; margin-top: 20px;">
                    <div id="chart_plot_02" class="demo-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
        
        
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Новые клиенты
                </h2>
                <div class="filter">
                    <div id="reportrange2" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="demo-container" style="height:280px; margin-top: 20px;">
                    <div id="chart_plot_03" class="demo-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6">
    <div class="row">
        @Html.Partial("LatetsSellers", Model.LatestOrders)
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        @Html.Partial("NewSellers", Model.ProcessOrders)
    </div>
</div>


<div class="col-md-6">
    <div class="row">
        @Html.Partial("SellHitsCost", Model.SellCostHits)
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        @Html.Partial("SellHitsCount", Model.SellAmountHits)
    </div>
</div>

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Статистика
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="echart_line" style="height:450px;"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<script src="~/Content/Admin/vendors/DateJS/build/date.js"></script>
<script src="~/Content/Admin/vendors/echarts/dist/echarts.js"></script>
<script src="~/Content/Admin/vendors/echarts/theme/macarons.js"></script>
<script src="~/Content/Admin/vendors/echarts/theme/dark.js"></script>

<script>
    var chart_plot_02_data = [];


    @foreach (var d in Model.OrdersGraphicView.OrderBy(p => p.Date).ToArray())
    {
        @:chart_plot_02_data.push([@d.Date.AsUnixTime(), @d.Value]);
    }


    var chart_plot_02_settings = {
        grid: {
            show: true,
            aboveData: true,
            color: "#3f3f3f",
            labelMargin: 10,
            axisMargin: 0,
            borderWidth: 0,
            borderColor: null,
            minBorderMargin: 5,
            clickable: true,
            hoverable: true,
            autoHighlight: true,
            mouseActiveRadius: 100
        },
        series: {
            lines: {
                show: true,
                fill: true,
                lineWidth: 2,
                steps: false
            },
            points: {
                show: true,
                radius: 4.5,
                symbol: "circle",
                lineWidth: 3.0
            }
        },
        legend: {
            position: "ne",
            margin: [0, -25],
            noColumns: 0,
            labelBoxBorderColor: null,
            labelFormatter: function (label, series) {
                return label + '&nbsp;&nbsp;';
            },
            width: 40,
            height: 1
        },
        colors: ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'],
        shadowSize: 0,
        tooltip: true,
        tooltipOpts: {
            content: "%s: %y.0",
            xDateFormat: "%d/%m",
            shifts: {
                x: -30,
                y: -50
            },
            defaultTheme: false
        },
        yaxis: {
            min: 0
        },
        xaxis: {
            mode: "time",
            minTickSize: [1, "day"],
            timeformat: "%d/%m/%y",
            min: chart_plot_02_data[0][0],
            max: chart_plot_02_data[@(Model.OrdersGraphicView.Count-1)][0]
        }
    };



    if ($("#chart_plot_02").length) {
        console.log('Plot2');

        $.plot($("#chart_plot_02"),
        [{
            label: "Email Sent",
            data: chart_plot_02_data,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }], chart_plot_02_settings);

    }

	var chart_plot_03_data = [
		[0, 1],
		[1, 9],
		[2, 6],
		[3, 10],
		[4, 5],
		[5, 17],
		[6, 6],
		[7, 10],
		[8, 7],
		[9, 11],
		[10, 35],
		[11, 9],
		[12, 12],
		[13, 5],
		[14, 3],
		[15, 4],
		[16, 9]
	];

    var chart_plot_03_settings = {
        series: {
            curvedLines: {
                apply: true,
                active: true,
                monotonicFit: true
            }
        },
        colors: ["#26B99A"],
        grid: {
            borderWidth: {
                top: 0,
                right: 0,
                bottom: 1,
                left: 1
            },
            borderColor: {
                bottom: "#7F8790",
                left: "#7F8790"
            }
        }
    };

    if ($("#chart_plot_03").length){
        console.log('Plot3');


        $.plot($("#chart_plot_03"), [{
            label: "Registrations",
            data: chart_plot_03_data,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }], chart_plot_03_settings);

    };









    var myChart = echarts.init(document.getElementById('echart_line'));
    myChart.setOption({
        title: {
            text: 'Статистика заказов и просмотров',
            subtext: 'Subtitle'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Просмотры', 'Заказы', 'Закладки']
        },
        toolbox: {
            show: true,
            feature: {
                magicType: {
                    show: true,
                    type: ['line', 'bar', 'stack', 'tiled']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon2', 'Tue2', 'Wed2', 'Thu2', 'Fri2', 'Sat2', 'Sun2', ]
        }],
        yAxis: [{
            type: 'value'
        }],
        series: [{
            name: 'Просмотры',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [10, 12, 21, 54, 260, 830, 710, 10, 12, 21, 54, 260, 830, 710]
        }, {
            name: 'Заказы',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [30, 182, 434, 791, 390, 30, 10, 30, 182, 434, 791, 390, 30, 10]
        }, {
            name: 'Закладки',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [1320, 1132, 601, 234, 120, 90, 20, 1320, 1132, 601, 234, 120, 90, 20]
        }]
    });


    var dataStyle = {
        normal: {
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        }
    };
    var placeHolderStyle = {
        normal: {
            color: 'rgba(0,0,0,0)',
            label: {
                show: false
            },
            labelLine: {
                show: false
            }
        },
        emphasis: {
            color: 'rgba(0,0,0,0)'
        }
    };

</script>