﻿@using Dan.Areas.Admin.View.Order
@using Dan.Models.Order
@model IEnumerable<Dan.Areas.Admin.View.Home.HomeOrderPreview>


@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Последние заказы
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped table-bordered">
                <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Custumer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                </tr>
                </thead>


                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@item.OrderStatus.StatusColor()" title="@item.OrderStatus.Description()">
                        <td>
                            <strong>
                                <a href=@Url.Action("Details", "UserOrder", new {id = item.EntityId})>
                                    @Html.DisplayFor(modelItem => item.EntityId)
                                </a>
                            </strong>
                        </td>
                        <td>
                            @item.OrderStatus.Description()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Custumer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
