﻿@model IEnumerable<Dan.Areas.Admin.View.Home.HomeSellHit>


@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Хиты продаж по количеству
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped table-bordered">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <strong>
                                    <a href=@Url.Action("Details", "Product", new {id = item.EntityId})>
                                        @Html.DisplayFor(modelItem => item.EntityName)
                                    </a>
                                </strong>
                            </td>
                            <td>
                                <a href=@Url.Action("Details", "ProductCategory", new {id = item.CategoryId})>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
