﻿@{
ViewBag.Title = "О Нас";
}

<div class="col-md-12">
    <h2 style="margin: 0;background-color: #4050af;color: white;
padding: 10px; padding-left: 20px;">
        @ViewBag.Title
    </h2>
    <div style="background-color: #313f8f;;
color: white;
padding: 20px;
font-size: 16px;">

        <p>
            ООО «КомплектДАН» работает в сфере строительных услуг по благоустройству зданий и сооружений. К основным видам деятельности относится широкий спектр услуг:
        </p>

        <ul>
            <li>Строительство;                                                                 </li>
            <li>Производство общестроительных работ по возведению зданий;                      </li>
            <li>Разборка и снос зданий; производство земляных работ;                           </li>
            <li>Монтаж зданий и сооружений из сборных конструкций;                             </li>
            <li>Устройство покрытий зданий и сооружений;                                       </li>
            <li>Производство бетонных и железобетонных работ;                                  </li>
            <li>Монтаж металлических строительных конструкций;                                 </li>
            <li>Производство электромонтажных работ;                                           </li>
            <li>Производство изоляционных работ;                                               </li>
            <li>Производство прочих отделочных и завершающих работ;                            </li>
            <li>Деятельность агентов по оптовой торговле универсальным ассортиментом товаров;  </li>
            <li>Прочая оптовая торговля;                                                       </li>
            <li>Транспортная обработка прочих грузов;                                          </li>
        </ul>

        <p>
            ООО «КомплектДАН» - крупная, профессиональная и стабильная работающая организация, которая выполняет полный спектр работ по строительству, а также занимается оптовой торговлей строительных материалов и грузоперевозками.
        </p>
    </div>

</div>
<div class="clearfix"></div>
