﻿@{
    ViewBag.Title = "Контакты";
}

<div class="col-md-8" style="padding-right: 0px;">
    <img src="~/Content/Public/address.PNG" style="width: 100%;"/>
</div>

<div class="col-md-4" style="padding-left: 0px;">
    <h2 style="margin: 0;background-color: #4050af;color: white;
    padding: 10px; padding-left: 20px;">
        @ViewBag.Title
    </h2>
    <div style="background-color: #313f8f;;
    color: white;
    padding: 20px;
    font-size: 16px;">
        <address>
            346400, Ростовская обл, г.Новочеркасск, ул.Первомайская, д.164,
        </address>
    </div>

</div>
<div class="clearfix"></div>

