﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Интернет-магазин спортивных товаров</title>
    
    <!-- iCheck -->
    <link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Content/Admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/Admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />


    <!-- Bootstrap -->
    <link href="~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="~/Content/Admin/vendors/google-code-prettify/prettify.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="~/Content/Admin/build/css/custom.css" rel="stylesheet">
    
    <!-- /compose -->
    <!-- jQuery -->
    <script src="~/Content/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <div style="height: 70px;"></div>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">
                                        <i class="fa fa-home"></i> Панель управления
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <i class="fa fa-shopping-cart"></i> Каталог
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Товары", "Index", "Product")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Категории", "Index", "ProductCategory")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Производители", "Index", "ProductManufacturer")
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a>
                                        <i class="fa fa-camera"></i>
                                        Изображения
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Изображения", "Index", "ProductImage")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Категории", "Index", "ProductImageCategory")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a>
                                        <i class="fa fa-random"></i>
                                        Продажи
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список заказов", "Index", "UserOrder")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список пожеланий", "Index", "UserOrder")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Текущие корзины", "Index", "UserOrder")
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a>
                                        <i class="fa fa-user"></i>
                                        Клиенты <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список клиентов", "Index", "Sentence")
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="/Catalog">
                                        <i class="fa fa-home"></i> Перейти на сайт
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="http://www.lokagame.com/"> Сайт игры</a>
                                    </li>
                                    <li>
                                        <a href="http://admin.lokagame.com/"> Админ. панель сайта</a>
                                    </li>
                                    <li>
                                        <a href="http://panel.lokagame.com/"> Админ. панель игры</a>
                                    </li>
                                    <li>
                                        <a href="http://analytics.lokagame.com/"> Игровая статистика</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- page content -->





            <div class="right_col" role="main">
                @RenderBody()
            </div>


            <!-- /page content -->
        </div>
    </div>
<!-- compose -->
    

<!-- FastClick -->
    <script src="~/Content/Admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/Admin/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Content/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Content/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Content/Admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/Admin/build/js/custom.js"></script>

    <!-- Chart.js -->
    <script src="~/Content/Admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/Admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/Admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/Admin/vendors/iCheck/icheck.min.js"></script>

    <!-- DateJS -->
    <script src="~/Content/Admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/Admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/Admin/js/moment/moment.min.js"></script>
    <script src="~/Content/Admin/js/datepicker/daterangepicker.js"></script>

</body>
</html>