﻿@model Dan.Areas.Admin.View.AdminUniversalDeleteView

<div class="row">
    @Html.Partial("SectionHeader", (string)ViewBag.Title)
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Основная информация
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.EntityId, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.EntityId, new { htmlAttributes = new { @class = "form-control", ReadOnly = "1", required = "1" } })
                                @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", ReadOnly = "1" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Description, 8, 8, new { @class = "form-control", ReadOnly = "1"})
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PublicKey, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PublicKey, new { htmlAttributes = new { @class = "form-control", ReadOnly="1" } })
                                @Html.ValidationMessageFor(model => model.PublicKey, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.PrivateKey, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PrivateKey, new { htmlAttributes = new { @class = "form-control", Value="", required="1" } })
                                @Html.ValidationMessageFor(model => model.PrivateKey, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <b class = "control-label col-md-8 col-md-offset-1">
                                Введите код подтверждения, чтобы выполнить удаление
                            </b>
                        </div>
                    
                    
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" value="Удалить товар" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Подсказка
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                После удаления товара, категории или изображения, вы можете его восстановить в течении 30 дней. После чего оно будет окончательно удалено.
            </div>
        </div>
    </div>
</div>

}
