﻿body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.breadcrumb {
  margin: 0;
  border-radius: unset;
  background-color: white;
}
.breadcrumb ol li a {
  color: #c29440;
  opacity: 1;
}

a{
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}


.Param {
    background-color: white;
    height: 50px;
    line-height: 40px;
    font-size: 17px;
    padding: 5px 15px;
    min-width: 210px;
    margin-top: 10px;
}

.Param .Key {
    color: #a3a3a3;
    width: 80px;
    display: inline-block;
}

.Param .Value {
    color: #4050af;
    padding-left: 15px
}

.Param .Sym {
    padding: 0 5px;
    display: inline-block;
    background-color: #4050af;
    color: white;
    display: flex;
    height: 50px;
    margin-top: -5px;
    padding-top: 5px;

    width: 25px;
    padding-left: 8px;

}

.Param .Quantity {
    border: none;
    border-style: none;
    border-radius: unset;
    width: 45px;
    height: 50px;
    padding-left: 15px;
    margin-top: -5px;
    padding-top: 5px;
}

.AddToCart {
    height: 50px;
    font-size: 15px;
    display: inline-block;
    background-color: #4050af;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    color: white;
}

.Price {
    width: 200px;
    display: inline-block;
    color: #4050af;
    font-size: 21px;
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
    font-weight: 800;
}