﻿@model Dan.Areas.Admin.View.Order.AdminOrderConfirmView

@{
    ViewBag.Title = $"Подтверждение заказа {Model.EntityId}";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Список заказов", "Index") /
                @Html.ActionLink($"Заказ {Model.EntityId}", "Details", new {id = Model.EntityId}) /
                <b>
                    @Html.ActionLink("Подтверждение заказа", "ConfirmCreate", new {id = Model.EntityId}) 
                </b>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Подтверждение заказа
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-horizontal">
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerAddressView.UserName, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CustomerAddressView.UserName, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerAddressView.SummaryAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.CustomerAddressView.SummaryAddress, 4, 4, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminComment, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.AdminComment, 4, 4, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.AdminComment, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Comment, 4, 4, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Comment, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Подтвердить оформление заказа" class="btn btn-success"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Информация о заказе
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.LabelFor(model => model.EntityId, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.EntityId, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    @Html.ValidationMessageFor(model => model.EntityId, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CreatedDate, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IpAddress, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IpAddress, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    @Html.ValidationMessageFor(model => model.IpAddress, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserAgent, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.UserAgent, 4, 4, new {@class = "form-control", @readonly = "readonly"})
                                    @Html.ValidationMessageFor(model => model.UserAgent, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Weight, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Weight, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    @Html.ValidationMessageFor(model => model.Weight, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cost, htmlAttributes: new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            
                            @if (Model.DeleteDate != null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DeleteDate, htmlAttributes: new {@class = "control-label col-md-4"})
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DeleteDate, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                        @Html.ValidationMessageFor(model => model.DeleteDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("DetailsProducts", Model.Products)
}

<div class="clearfix"></div>
