﻿@model IEnumerable<Dan.View.Cart.ProductCartView>
@{
    int itter = 1;
}

<div class="col-md-8">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Список товаров в заказе
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TotalWeight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalCost)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(itter++)
                        </td>
                        <td style="width: 115px; padding: 0;">
                            <img src="@item.Product.Image.FilePath" style="width: 100%" />
                        </td>
                        <td>
                            <b>
                                @Html.ActionLink(item.Category.Name, "Details", "ProductCategory", new { id = item.Category.EntityId }, new { style = "color: black;" }) >
                            </b>
                            <b>
                                <u>
                                    @Html.ActionLink(item.Product.Name, "Details", "Product", new { id = item.Product.EntityId }, new { style = "color: black;" }) <br />
                                </u>
                            </b>
                            <i>
                                @Html.Raw(item.Product.Description)
                            </i>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalWeight) Кг
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                    </tr>

                }
            </table>

        </div>
    </div>
</div>
