﻿@using Dan.Models.Order
@model Dan.Areas.Admin.View.Order.AdminOrderDetailView

@{
    ViewBag.Title = $"Информация о заказе {Model.EntityId}";
}



<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 style="padding: 5px;  padding-right: 50px;">
                @Html.ActionLink("Список заказов", "Index") /
                @Html.ActionLink($"Заказ {Model.EntityId}", "Details", new { id = Model.EntityId }) /
                <b>
                    @Html.ActionLink("Информация о заказе", "Details", new {id = Model.EntityId}) 
                </b>
            </h2>
            
            @if (Model.OrderStatus == CustomerOrderStatus.Processing || Model.OrderStatus == CustomerOrderStatus.Canceled)
            {
                <a href="@Url.Action("ConfirmCreate", new {id = Model.EntityId})" class="btn btn-success">Подтвердить заказ</a>
            }
            else if (Model.OrderStatus == CustomerOrderStatus.Payment)
            {
                <a href="@Url.Action("ConfirmPayment", new {id = Model.EntityId})" class="btn btn-success">Подтвердить оплату</a>
            }
            else if (Model.OrderStatus == CustomerOrderStatus.Preparing)
            {
                <a href="@Url.Action("ConfirmDelivery", new {id = Model.EntityId})" class="btn btn-success">Подтвердить отправку</a>
            }
            
            @if (Model.OrderStatus != CustomerOrderStatus.Delivery && Model.OrderStatus != CustomerOrderStatus.Delivered && Model.OrderStatus != CustomerOrderStatus.Canceled || Model.OrderStatus == CustomerOrderStatus.Processing)
            {
                <a href="@Url.Action("CancelOrder", new {id = Model.EntityId})" class="btn btn-danger">Отменить заказ</a>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Информация о заказе <small>@Model.EntityId</small> 
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-striped table-bordered">
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.EntityId)
                    </td>
                </tr>
                
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CustomerAddressView.UserName)
                    </td>
                </tr>

                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.SummaryAddress)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CustomerAddressView.SummaryAddress)
                    </td>
                </tr>
                
                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IpAddress)
                    </td>
                </tr>

                <tr class="success">
                    <td>
                        @Html.DisplayNameFor(model => model.UserAgent)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.UserAgent)
                    </td>
                </tr>

                <tr class="warning">
                    <td>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </td>
                </tr>
                

                @if (Model.ConfirmOrderDate != null)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayNameFor(model => model.ConfirmOrderDate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.ConfirmOrderDate)
                        </td>
                    </tr>
                }
                
                @if (Model.DeliveryConfirmDate != null)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayNameFor(model => model.DeliveryConfirmDate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DeliveryConfirmDate)
                        </td>
                    </tr>
                }
                
                @if (Model.DeliverySendDate != null)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayNameFor(model => model.DeliverySendDate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DeliverySendDate)
                        </td>
                    </tr>
                }
                
                @if (string.IsNullOrWhiteSpace(Model.DeliveryToken) == false)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayNameFor(model => model.DeliveryToken)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DeliveryToken)
                        </td>
                    </tr>
                }

                <tr class="info">
                    <td>
                        @Html.DisplayNameFor(model => model.Weight)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Weight)
                    </td>
                </tr>

                <tr class="info">
                    <td>
                        @Html.DisplayNameFor(model => model.Cost)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Cost)
                    </td>
                </tr>
                
                @if (Model.DeleteDate != null)
                {
                    <tr class="danger">
                        <td>
                            @Html.DisplayNameFor(model => model.DeleteDate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DeleteDate)
                        </td>
                    </tr>
                }

                @if (string.IsNullOrWhiteSpace(Model.AdminComment) == false)
                {
                    <tr class="danger">
                        <td>
                            @Html.DisplayNameFor(model => model.AdminComment)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.AdminComment)
                        </td>
                    </tr>
                }
                
                @if (string.IsNullOrWhiteSpace(Model.Comment) == false)
                {
                    <tr class="danger">
                        <td>
                            @Html.DisplayNameFor(model => model.Comment)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Comment)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@Html.Partial("DetailsProducts", Model.Products)

<div class="clearfix"></div>