﻿@using Dan.Areas.Admin.View.Order
@using Dan.Models.Order
@using Dan.View.Cart
@model IEnumerable<Dan.Areas.Admin.View.Order.AdminOrderPreview>

@{
    ViewBag.Title = "Список заказов";
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")


<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @ViewBag.Title
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EntityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddressView.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryToken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                </tr>
                </thead>


                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@item.OrderStatus.StatusColor()" title="@item.OrderStatus.Description()">
                        <td>
                            @Html.ActionLink(item.EntityId.ToString(), "Details", new {id = item.EntityId}, new {title = "Открыть страницу с заказом"})
                        </td>
                        <td>
                            @item.OrderStatus.Description()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddressView.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddressView.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddressView.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddressView.SummaryAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @if (item.ShippingMethod == DeliveryMethod.Pickup)
                            {
                                @DeliveryMethod.Pickup.Description()
                            }
                            else if(item.OrderStatus == CustomerOrderStatus.Preparing)
                            {
                                @: Ожидает отправки
                            }
                            else
                            {
                                <a href="https://www.pochta.ru/tracking#" + @item.DeliveryToken title="Открыть сайт почты">
                                    @Html.DisplayFor(modelItem => item.DeliveryToken)
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>

    
<script>
    $('#MatchesDataBase').dataTable();
</script>