﻿@model Dan.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<style>
    body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
</style>

<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="container">
  
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Регистрация аккаунта</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Информация о клиенте</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Информация о доставке</p>
                </div>
            </div>
        </div>
  
        <form role="form" action="" method="post">
            <div class="row setup-content" id="step-1">
                <div class="col-md-9 col-md-offset-3">
                    <div class="col-md-12">
                        <h3>
                            Укажите данные для входа
                        </h3>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Далее</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-md-9 col-md-offset-3">
                    <div class="col-md-12">
                        <h3>
                            Укажите информацию о клиенте
                        </h3>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>

                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Далее</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-md-9 col-md-offset-3">
                    <div class="col-md-12">
                        <h3>
                            Укажите информацию для доставки
                        </h3>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.ZipPostalCode, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.ZipPostalCode, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.StateProvince, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.City, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <button class="btn btn-success btn-lg pull-right" type="submit">Создать аккаунт</button>
                    </div>
                </div>
            </div>
        </form>
  
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
