﻿@model IEnumerable<Dan.Areas.Admin.View.Manufacture.AdminManafactureShortView>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Производители
                [ @Html.ActionLink("Добавить производителя", "Create") ]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products)
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntityId)
                            </td>
                            <td>
                                <img src="@item.Image.FileName"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Products)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>