<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
<!-- META TAGS -->
	<meta charset="utf-8">
	<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	{% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- PAGE TITLE -->
	{% case template %}{% when 'index' %}<title>{{ shop.name }} | {{ page_title }}</title>{% when '404' %}<title>Page Not Found | {{ shop.name }}</title>{% else %}<title>{{ page_title }} | {{ shop.name }}</title>{% endcase %}

<!-- LINK TAGS -->
	<link rel="canonical" href="{{ canonical_url }}" />
	<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />

<!-- GOOGLE FONTS -->
	{% if settings.base_font and settings.base_font contains 'google_fonts:' %}
		<link href="//fonts.googleapis.com/css?family={{ settings.base_font | replace:'google_fonts:' | replace: ' ','+' }}:300,400,700,900" rel="stylesheet" type="text/css">
	{% endif %}
	{% if settings.heading_font and settings.heading_font contains 'google_fonts:' and settings.heading_font != settings.base_font %}
		<link href="//fonts.googleapis.com/css?family={{ settings.heading_font | replace:'google_fonts:' | replace: ' ','+' }}:300,400,700,900" rel="stylesheet" type="text/css">
	{% endif %}

<!-- CSS -->
	{{ 'bootstrap.css' | asset_url | stylesheet_tag }} 
	{{ 'font-awesome.css' | asset_url | stylesheet_tag }}
	{{ 'assets.css' | asset_url | stylesheet_tag }}
	{{ 'style.css' | asset_url | stylesheet_tag }}
	{{ 'responsive.css' | asset_url | stylesheet_tag }}
	<!--[if IE 9]>
	{{ 'ie9.css' | asset_url | stylesheet_tag }}
	<![endif]-->

<!-- JS -->
	{% include 'snippet-js-header' %}

<!-- SHOPIFY SERVICE SCRIPTS -->
	{{ content_for_header }}
</head>
<body {% if template == 'index' and settings.homepage_map_toggle %}onload="initialize()" {% elsif template == 'page.contact' and settings.contacts_map_toggle %}onload="initialize()"{% endif %} id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

{% case template %}
	{% when 'page.noasides', 'list-collections', 'product', 'cart' %}
		{% assign width_sidebars = false %}
	{% else %}
		{% assign width_sidebars = true %}
{% endcase %}

{% if template contains 'customers' %}
	{% assign width_sidebars = false %}
{% endif %}

<div id="page_preloader"><div></div></div>

<!--[if lt IE 9]>
<div class="old_browsers"><a href="//windows.microsoft.com/en-us/internet-explorer/download-ie"><i class="fa fa-warning"></i>You are using an outdated version of Internet Explorer. Upgrade today for a faster, safer browsing experience.</a></div>
<![endif]-->

{% if settings.cookies_policy_toggle %}
	<!-- COOKIES POLICY NOTIFICATION -->
	{% include 'widget-cookies' %}
{% endif %}

{% if settings.newsletter_popup_toggle %}
	<!-- NEWSLETTER POPUP -->
	{% include 'widget-newsletter-popup' %}
{% endif %}

<div id="wrapper1">
<div id="wrapper2">

{% if settings.promobanner_toggle %}
	<!-- PROMO BANNER -->
	{% include 'widget-promobanner' %}
{% endif %}

<!-- HEADER -->
<header>
<div class="container">
	<div class="header_row__1">
		{% if settings.show_multiple_currencies %}
			<!-- CURRENCIES -->
			{% include 'widget-currencies-switcher' %}
		{% endif %}

		{% if shop.customer_accounts_enabled %}
			<!-- USER MENU -->
			<ul class="header_user">
				{% if customer %}
					<li><a href="/account"><i class="fa fa-user"></i>{{ customer.first_name | truncate:15 }}</a>    </li>
					<li>{{ 'Log out' | customer_logout_link }}</li>
				{% else %}
					<li>{{ 'Log in' | customer_login_link }}</li>
					{% if shop.customer_accounts_optional %}
						<li>{{ 'Create an account' | customer_register_link }}</li>
					{% endif %}
				{% endif %}
				<li class="checkout"><a href="/cart">Check out</a></li>
			</ul>
		{% endif %}

		{% if settings.header_social_toggle %}
			<ul class="header_social">
				{% if settings.social_twitter != blank %}<li><a href="{{ settings.social_twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
				{% if settings.social_facebook != blank %}<li><a href="{{ settings.social_facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
				{% if settings.social_youtube != blank %}<li><a href="{{ settings.social_youtube }}"><i class="fa fa-youtube"></i></a></li>{% endif %}
				{% if settings.social_instagram != blank %}<li><a href="{{ settings.social_instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
				{% if settings.social_pinterest != blank %}<li><a href="{{ settings.social_pinterest }}"><i class="fa fa-pinterest"></i></a></li>{% endif %}
				{% if settings.social_googleplus != blank %}<li><a href="{{ settings.social_googleplus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
				{% if settings.social_tumblr != blank %}<li><a href="{{ settings.social_tumblr }}"><i class="fa fa-tumblr"></i></a></li>{% endif %}
			</ul>
		{% endif %}

		<div class="clearfix"></div>
	</div>

	<div class="row header_row__2">
		<div class="col-sm-3 header_left">
			<!-- LOGO -->
			<div class="logo_main">
				<a href="/">{% if settings.use_logo %}{{ 'logo.png' | asset_url | img_tag: shop.name }}{% else %}<b>{{ shop.name }}</b>{% endif %}</a>
			</div>
		</div>

		<div class="col-sm-6 header_center">
			<!-- HEADER SEARCH -->
			<div class="header_search">
				<form action="/search" method="get" class="search-form">
					<input id="search-field" name="q" type="text" placeholder="" class="hint" />
					<button id="search-submit" type="submit">Search</button>
				</form>
			</div>
		</div>

		<div class="col-sm-3 header_right">
			{% if settings.custom_header_toggle %}
				<!-- CUSTOM HEADER BLOCK -->
				<div class="custom_header">
					<i class="fa fa-phone"></i><span>{{ settings.custom_header_text1 }}</span>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row header_row__3">
		<div class="{% if settings.sidebar_widget_collections_toggle and width_sidebars and template != 'blog' and template != 'article' %}{% unless template contains 'customer' %} col-sm-9 {% if settings.sidebar_toggle == 'sidebar_toggle_left' %} col-sm-offset-3{% endif %}{% else %} col-sm-12{% endunless %}{% else %} col-sm-12{% endif %}">
			<!-- MEGAMENU -->
			{% include 'widget-megamenu' %}
		</div>
	</div>
</div>
</header>

<!-- MAIN CONTENT -->
<div id="main" role="main">
	<div class="container">
		{% case template %}
			{% when 'blog', 'article' %}
				<!-- BREADCRUMBS -->
				{% include 'widget-breadcrumbs' %}
		{% endcase %}

		<div class="row">
			{% comment %}<div class="main_content {% if width_sidebars == true %}col-sm-9{% else %}col-sm-12{% endif %} {% if settings.sidebar_toggle == 'sidebar_toggle_left' and width_sidebars == true %}col-sm-push-3{% endif %}">{% endcomment %}
			<div class="main_content {% if width_sidebars == true %}{% if template == 'blog' or template == 'article' %} col-sm-8{% else %} col-sm-9{% endif %}{% if settings.sidebar_toggle == 'sidebar_toggle_left' %}{% if template == 'blog' or template == 'article' %} col-sm-push-4{% else %} col-sm-push-3{% endif %}{% endif %}{% else %} col-sm-12{% endif %}">
				{% if template != 'blog' and template != 'article' %}
					<!-- BREADCRUMBS -->
					{% include 'widget-breadcrumbs' %}
				{% endif %}

				{% case template %}
					{% when 'list-collections' %}
						{% include 'collection-listing' %}
					{% when 'index' %}
						<!-- NIVOSLIDER -->
						{% include 'widget-homepage-nivoslider' %}

						<!-- SHOWCASE CUSTOM BLOCKS -->
						{% include 'widget-homepage-showcase' %}

						{{ content_for_layout }}
					{% else %}
						{{ content_for_layout }}
				{% endcase %}
			</div>

			{% if width_sidebars == true %}
				<div class="sidebar{% if template == 'blog' or template == 'article' %} col-sm-4{% else %} col-sm-3{% endif %}{% if settings.sidebar_toggle == 'sidebar_toggle_left' %} sidebar_left{% if template == 'blog' or template == 'article' %} col-sm-pull-8{% else %} col-sm-pull-9{% endif %}{% else %} sidebar_right{% endif %}">
					{% case template %}
						{% when 'blog', 'article' %}
							{% include 'widget-sidebar-blog' %}
						{% else %}
							{% if settings.sidebar_widget_collections_toggle %}
								{% include 'widget-sidebar-collections' %}
							{% endif %}
							{% if settings.sidebar_widget_types_toggle %}
								{% include 'widget-sidebar-types' %}
							{% endif %}
							{% if settings.sidebar_widget_vendors_toggle %}
								{% include 'widget-sidebar-vendors' %}
							{% endif %}
							{% if settings.sidebar_widget_products_toggle %}
								{% include 'widget-sidebar-products' %}
							{% endif %}
					{% endcase %}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% if template == 'index' and settings.homepage_map_toggle %}
	<!--  GOOGLE MAP -->
	{% include 'widget-googlemap' %}
{% endif %}

<!-- FOOTER -->
<footer>
<div class="container">
	<div class="footer_row__1">
		<div class="row">
			<div class="col-sm-6 footer_block footer_block__1">
				<h3>{{ settings.footer_block1_title }}</h3>
				<p>{{ settings.footer_block1_text }}</p>
			</div>

			<div class="col-sm-6 footer_block footer_block__2">
				<h3>{{ settings.footer_block2_title }}</h3>
				<ul>
					{% for i in (1..3) %}
						{% capture text1 %}footer_block2_item{{ i }}_text1{% endcapture %}
						{% capture text2 %}footer_block2_item{{ i }}_text2{% endcapture %}
						{% capture icon %}footer_block2_item{{ i }}_icon{% endcapture %}
						{% capture brands_link %}footer_block2_item{{ i }}_link{% endcapture %}

						<li>
							<a href="{{ settings[link] }}">
								<i class="fa {{ settings[icon] }}"></i> <span>{{ settings[text1] }}</span> {{ settings[text2] }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="footer_row__2">
		<div class="row">
			<div class="col-xs-6 col-sm-3 footer_block footer_block__3">
				<h3>{{ settings.footer_block3_title }}</h3>
				<ul class="footer_links">
					{% for link in linklists[settings.footer_block3_list].links limit:7 %}
					<li {% if link.active %}class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-xs-6 col-sm-3 footer_block footer_block__4">
				<h3>{{ settings.footer_block4_title }}</h3>
				<ul class="footer_links">
					{% for link in linklists[settings.footer_block4_list].links limit:7 %}
					<li {% if link.active %}class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-xs-6 col-sm-3 footer_block footer_block__5">
				<h3>{{ settings.footer_block5_title }}</h3>
				<ul class="footer_links">
					{% for link in linklists[settings.footer_block5_list].links limit:7 %}
					<li {% if link.active %}class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
			</div>

			{% if settings.footer_block6_social_toggle %}
				<div class="col-xs-6 col-sm-3 footer_block footer_block__6">
					<h3>{{ settings.footer_block6_title }}</h3>
					<ul class="footer_social">
						{% if settings.social_twitter != blank %}<li><a href="{{ settings.social_twitter }}"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>{% endif %}
						{% if settings.social_facebook != blank %}<li><a href="{{ settings.social_facebook }}"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>{% endif %}
						{% if settings.social_youtube != blank %}<li><a href="{{ settings.social_youtube }}"><i class="fa fa-youtube"></i><span>Youtube</span></a></li>{% endif %}
						{% if settings.social_instagram != blank %}<li><a href="{{ settings.social_instagram }}"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>{% endif %}
						{% if settings.social_pinterest != blank %}<li><a href="{{ settings.social_pinterest }}"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>{% endif %}
						{% if settings.social_googleplus != blank %}<li><a href="{{ settings.social_googleplus }}"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>{% endif %}
						{% if settings.social_tumblr != blank %}<li><a href="{{ settings.social_tumblr }}"><i class="fa fa-tumblr"></i><span>Tumblr</span></a></li>{% endif %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="copyright">
		<p role="contentinfo">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}. All Rights Reserved. {% if settings.show_copyright %}Design by <a href="//templatemonster.com">TemplateMonster.com</a>.{% endif %} {{ powered_by_link }}.</p><!-- Design by templatemonster.com -->
	</div>
</div>
</footer>

</div><!-- / #wrapper2 -->
</div><!-- / #wrapper1 -->

<!-- olark chat -->
{% if settings.olark_chat_toggle %}
	{{ settings.olark_chat_code }}
{% endif %}

<!-- JS -->
{% include 'snippet-js-footer' %}

</body>
</html>