﻿@using Dan.Models.Order
@model IEnumerable<Dan.View.Order.CustomerOrderPreview>

@{
    ViewBag.Title = "Index";
    var itter = 1;
}

<style>
    table.products a {
        color: black;
    }
</style>


<h2>
    Список заказов
</h2>

<table class="table table-bordered products" style="margin-bottom: 0;">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverySendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(itter++)
            </td>
            <td>
                @Html.ActionLink(item.EntityId.ToString(), "Details", new {id = item.EntityId})
            </td>
            <td>
                @item.OrderStatus.Description()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliverySendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryToken)
            </td>
            <td>
                @item.ShippingMethod.Description()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

        </tr>
    }

</table> 
