﻿@model Dan.Areas.Admin.View.Image.AdminImageCategoryLargeView

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Товары", "Index") >
                @Html.ActionLink(Model.Name, "Details", "ProductCategory", new { id = Model.EntityId }, null) >
                <b>
                    @Html.ActionLink(Model.Name, "Details", new { id = Model.EntityId }, null)
                </b>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EntityId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EntityId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Count)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Count)
                </dd>

            </dl>
        </div>
    </div>
</div>