﻿@model IEnumerable<Dan.Areas.Admin.View.Image.AdminImageCategoryShortView>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Категории изображений
                [ @Html.ActionLink("Добавить категорию", "Create") ]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Count)
                        </th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntityId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>