﻿@model Dan.View.Product.CatalogProductShortView

<div class="col-md-3" style="margin-bottom: 25px;">
    <div style="border: 1px solid #e1e1e1;">
        <div class="Image" style="height: 250px;">
            <a href=@Url.Action("Product", new {id = Model.EntityId})>
                <img style="width: 100%; height: 100%;" src="@Model.Image.FilePath"/>
            </a>
        </div>
        <div class="Title">
            <h2 style="font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    font-family: arial; height: 50px;     padding-left: 10px;     padding-top: 5px;
    padding-right: 10px;     background-color: #4050af; margin: 0;">
                @Html.ActionLink(Model.Name, "Product", new {id = Model.EntityId}, new {style="color: white;"})
            </h2>
        </div>

        <div class="Footer">
            <div style="float: left; background-color: #313f8f;;  bottom: 0;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center; vertical-align: middle; line-height: 45px; width: 40%;">
                @Model.Price.Price <span class="glyphicon glyphicon-ruble" style="font-size: 13px; font-weight: 100;"></span>
            </div>

            <div style="background-color: #4050af; float: left; width: 60%;
    bottom: 0;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center; vertical-align: middle; line-height: 45px">
                @using (Ajax.BeginForm("Create", "Cart", new AjaxOptions
                {
                    Url = Url.Action("CreateAjax", "Cart"),
                    OnSuccess = "OnSuccessAddProductToCart",
                    HttpMethod = "POST"
                }))
                {
                    <input id="id" name="id" style="display: none;" type="text" value="@Model.EntityId">
                    <input type="submit" value="В корзину" style="background-color: transparent;border: none;width: 100%;" />
                }

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>