﻿@using (Html.BeginForm("Search", "Catalog", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group">
        <input id="id" type="text" class="form-control" style="border-radius: 0;" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" style="border-radius: 0;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div><!-- /input-group -->
}