﻿@using Dan.Infrastructures.Razor
@using Dan.Infrastructures.Repository
@using Dan.Models.Catalog
@model Dan.View.Category.CatalogCategoryLargeView

@{
    bool bHasAnyTypes = false;
    ViewBag.Title = "Каталог";
    var itter = 1;
}

<div class="col-md-12" style="margin-bottom: 25px;">
    <h1 style="background-color: #313f8f;
        margin: 0;
        color: white;
        height: 60px;
        line-height: 60px;  text-align: center;
        vertical-align: middle; font-size: 14px; float: left; width: 210px;">
        @Model.Name
    </h1>

    <h2 style="background-color: #4050af; margin: 0; padding-left: 20px; font-size: 20px; color: white; height: 60px; line-height: 60px; vertical-align: middle; font-size: 14px;">
        <b style="padding-left: 10px;">Сортировать:</b>
        <a href="@Url.ActionQuery("order", ProductOrderMethod.PriceUp)">по возрастанию цены</a> |
        <a href="@Url.ActionQuery("order", ProductOrderMethod.PriceDown)">по убыванию цены</a> |
        <a href="@Url.ActionQuery("order", ProductOrderMethod.Name)">по названию</a> |
        <a href="@Url.ActionQuery("order", ProductOrderMethod.RatingUp)">по возрастанию популярности</a> |
        <a href="@Url.ActionQuery("order", ProductOrderMethod.RatingDown)">по убыванию популярности</a>
    </h2>
</div>

<div class="row-fluid">
    
    @if (Model.DisplayMethod.HasFlag(CatalogDisplayMethod.LargeCategory))
    {
        if (Model.CategoryViews.Any())
        {
            bHasAnyTypes = true;

            foreach (var c in Model.CategoryViews)
            {
                @Html.Partial("CategoryIndexView", c)
                if (itter % 4 == 0)
                {
                    <div class="clearfix"></div>
                }
                itter++;
            }
        }
        else if (Model.ProductViews.List.Any())
        {
            bHasAnyTypes = true;

            foreach (var c in Model.ProductViews.List)
            {
                @Html.Partial("CategoryProduct", c)
            }
        }
        else
        {
            <div class="col-md-9">
                <h2 style="padding-left: 20px;">
                    В выбранной категории пока что нет товаров =(
                </h2>
            </div>
        }
    }
    
    @if (Model.DisplayMethod.HasFlag(CatalogDisplayMethod.Product))
    { 
        if (Model.ProductViews.List.Any())
        {
            bHasAnyTypes = true;

            foreach (var c in Model.ProductViews.List)
            {
                @Html.Partial("CategoryProduct", c)
            }
        }
        else
        {
            <div class="col-md-9">
                <h2 style="padding-left: 20px;">
                    В выбранной категории пока что нет товаров =(
                </h2>
            </div>
        }
    }
    
    @if (Model.IsSearchView && Model.ProductViews.List.Any() == false)
    {
        <div class="col-md-9">
            <h2 style="padding-left: 20px;">
                Поиск не дал результатов =(
            </h2>
        </div>
    }


    <div class="clearfix"></div>
    @Html.Partial("Navigation/PageSlider", Model.ProductViews)

    <div class="col-md-12" style="margin-bottom: 25px;">
        <h2 style="
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    color: black;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;">
            @Model.Name
        </h2>
        <div style="padding-top: 20px; padding-bottom: 20px;">
            @Html.Raw(Model.Description)
        </div>

    </div>

</div>