﻿@model Dan.View.Category.CatalogCategoryLargeView

<style>
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    .panel-group .panel + .panel {
        margin-top: 0;
    }
</style>

<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>

<div class="Block">
    <div class="Title">
        <h2 style="background-color: #313f8f;;
    color: white;
    margin: 0;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;">
            Поиск
        </h2>
    </div>
    <div class="Footer" style="background-color: #4050af; height: 170px;">

        @using (Html.BeginForm("Category", "Catalog", null, FormMethod.Get, null))
        {
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="input-group">
                <input name="query" type="text" class="form-control" style="border-radius: 0;" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" style="border-radius: 0;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!-- /input-group -->

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Стоимость
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <input name="costMin" type="number" class="form-control" style="border-radius: 0;" value="@Model.CostFilter.Min" placeholder="@Model.CostSeed.Min">
                            <input name="costMax" type="number" class="form-control" style="border-radius: 0;" value="@Model.CostFilter.Max" placeholder="@Model.CostSeed.Max">
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThour" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Вес
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThour">
                        <div class="panel-body">
                            <input name="weightMin" type="number" class="form-control" style="border-radius: 0;" value="@Model.WeightFilter.Min" placeholder="@Model.WeightSeed.Min">
                            <input name="weightMax" type="number" class="form-control" style="border-radius: 0;" value="@Model.WeightFilter.Max" placeholder="@Model.WeightSeed.Max">
                        </div>
                    </div>
                </div>
                
                @*

    @{
        var itter = 0;
    }

    @foreach (var f in Model.Filters.Take(1))
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading@(f.EntityId)">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(f.EntityId)" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        @f.Name
                    </a>
                </h4>
            </div>
            <div id="collapse@(f.EntityId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(f.EntityId)">
                <div class="panel-body">
                    @foreach (var v in f.Values)
                    {
                        <div>
                            <input type="checkbox" name="filter[@itter]" value="@v.EntityId" />
                            @Html.Label($"filter[{itter}]", v.Name)
                            @{ itter++; }


                        </div>
                    }
                </div>
            </div>
        </div>
    }
                *@

            </div>
            <!-- panel-group -->
        }
    </div>
</div>