﻿@using Dan.Models.Catalog
@model Dan.View.Category.CatalogCategoryLargeView


<div class="col-md-3" style="margin-bottom: 20px;">
    <div class="Title">
        <h2 style="background-color: #313f8f;; color: white; margin: 0; height: 60px; vertical-align: middle; line-height: 60px; text-align: center; font-size: 18px;">
            @Html.ActionLink(Model.Name, "Category", new { id = Model.EntityId }, new { style = "color: white;" })
        </h2>
    </div>

    @if (Model.DisplayMethod.HasFlag(CatalogDisplayMethod.LargeCategory))
    {
        <div class="Image">

        </div>
        <div class="Footer" style="background-color: #95a5a6; padding: 15px; height: 160px;">
            <ul>
                @foreach (var c in Model.CategoryViews)
                {
                    <li>
                        @Html.ActionLink(c.Name, "Category", new {id = c.EntityId}, new {style = "color: white;"})
                    </li>
                }
            </ul>
        </div>
    }
    
</div>