﻿@model IEnumerable<Dan.View.Category.CatalogCategoryShortView>

@{
    ViewBag.Title = "Каталог";
    var itter = 1;
}

<div class="row">
    <div class="container">
        @foreach (var c in Model)
        {
            @Html.Partial("IndexCategory", c)
            if (itter % 4 == 0)
            {
                <div class="clearfix"></div>
            }
            itter++;
        }
    </div>
</div>