﻿@model Dan.View.Category.CatalogCategoryShortView

<div class="col-md-3" style="margin-bottom: 25px;">
    <div class="Title">
        <h2 style="background-color: #313f8f;
    color: white;
    margin: 0;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    font-size: 16px; white-space: nowrap; overflow: hidden; padding-left: 10px; padding-right: 10px;">
            @Html.ActionLink(Model.Name, "Category", new { id = Model.EntityId }, new {style="color:white;"})
        </h2>
    </div>
    <div class="Footer" style="background-color: #95a5a6; height: 250px; white-space: nowrap; overflow: hidden;">
        <a href=@Url.Action("Category", new {id = Model.EntityId})>
            <img style="width: 100%; height: 100%;" src="@Model.Image"/>
        </a>
    </div>
</div>