﻿@using System.Web.Mvc.Ajax
@model Dan.View.Product.CatalogProductLargeView

@{
    ViewBag.Title = "Product";
}

<style>
    .spinner {
        width: 100px;
    }

        .spinner input {
            text-align: right;
        }

    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
    }

        .input-group-btn-vertical > .btn {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
            padding: 8px;
            margin-left: -1px;
            position: relative;
            border-radius: 0;
        }

            .input-group-btn-vertical > .btn:first-child {
                border-top-right-radius: 4px;
            }

            .input-group-btn-vertical > .btn:last-child {
                margin-top: -2px;
                border-bottom-right-radius: 4px;
            }

        .input-group-btn-vertical i {
            position: absolute;
            top: 0;
            left: 4px;
        }


</style>

<script>
    (function ($) {
        $('.spinner .btn:first-of-type').on('click', function () {
            $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
        });
        $('.spinner .btn:last-of-type').on('click', function () {
            $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
        });
    })(jQuery);
</script>

<script>
    $(document).ready(function () {
        $("#AddToCart").click(function () {
            $('#ProductForm').get(0).submit();
        });
    });
</script>


<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div style="color:white; background-color: #313f8f; height: 50px;">
                <h1 style="float: left; margin: 0; padding-top: 5px; padding-left: 25px;">
                    @Model.Name
                </h1>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-6">
            <div class="Param">
                <span class="Key">Артикул</span>
                <span class="Value">CE8139</span>
            </div>

            <div class="Param">
                <span class="Key">Бренд</span>
                <span class="Value">Adidas</span>
            </div>

            <div class="Param">
                <span class="Key">Цвет</span>
                <span class="Value">Белый/серый/черный/золотистый</span>
            </div>

            <div class="Param">
                <span class="Key">Размер</span>
                <span class="Value">1</span>
            </div>
            
            
            @foreach (var param in Model.Params)
            {
                <div class="Param">
                    <span class="Key">@param.Name</span>
                    <span class="Value">@param.Value</span>
                </div>
            }


            <div class="form-group">


                @using (Ajax.BeginForm("Create", "Cart", new AjaxOptions
                {
                    Url = Url.Action("CreateAjax", "Cart"),
                    OnSuccess = "OnSuccessAddProductToCart",
                    HttpMethod = "POST"
                }))
                {

                    <div class="Param" style="display: inline-block; width: 150px; padding-right: 0; min-width: 150px;">
                        <span class="Key">Кол-во</span>
                        
                        @Html.TextBox("id", Model.EntityId, new { style = "display: none;" })
                        
                        @Html.TextBox("amount", 1, new { @class = "Value Quantity" })
                    </div>

                    <button type="submit" value="В корзину" class="AddToCart">
                        Добавить в корзину
                    </button>

                    <div class="Price">
                        @Model.Price.Price руб
                    </div>

                }
            </div>

            @Html.Raw(Model.Description)
        </div>
        <div class="col-md-6">
            <img src="@Model.Image.FilePath" style="width: 100%; background-color: white;padding: 15px;"/>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
