/********************************************************************************************************

1. CSS RESET

2. VARIABLES
2.1 GRADIENTS
2.2 COLOR VARIABLES
2.3 CSS3 TRANSITIONS

3. GLOBAL THEME STYLES
3.1 MISCELLANEOUS
3.2 PAGE PRELOADER
3.3 COOKIES POLICY MESSAGE
3.4 GOOGLE MAPS
3.5 FANCYBOX COMMON STYLES
3.6 NEWSLETTER POPUP
3.7 ADD TO CART MESSAGE
3.8 PRODUCT QUICK VIEW

4. TYPOGRAPHY
4.1 HEADINGS
4.2 PARAGRAPHS & LISTS
4.3 LINKS
4.4 PRODUCT ATTRIBUTES (name, description, price)
4.5 RTE

5. FORMS & COMPONENTS
5.1 FORMS
5.2 ALERTS & NOTIFICATIONS
5.3 BUTTONS

6. GLOBAL PAGE LAYOUT

7. MAIN PAGE
7.1 HEADER
7.2 MEGAMENU
7.3 NIVOSLIDER
7.4 SHOWCASE
7.5 MAIN PRODUCT LISTING
7.6 OTHER HOMEPAGE BLOCKS
7.7 FOOTER

8. COLLECTION PAGES
8.1 BREADCRUMBS
8.2 DESCRIPTIONS & TAGS
8.3 PRODUCTS SORTING
8.4 COLLECTION LISTING
8.5 PAGINATION

9. SIDEBAR WIDGETS
9.1 LINKS LIST
9.2 SIDEBAR PRODUCT LISTING
9.3 SIDEBAR BLOG WIDGETS

10. SEARCH RESULTS PAGE

11. PRODUCT PAGE
11.1 PRODUCT IMAGES
11.2 PRODUCT INFO
11.3 PRODUCT PAGINATION
11.4 RELATED PRODUCTS

12. BLOG
12.1 POSTS LISTING
12.2 SINGLE POST

13. CUSTOMER PAGES
13.1 LOGIN
13.2 RESET PASSWORD
13.3 ACCOUNT
13.4 ADDRESSES
13.5 ORDERS

14. CART PAGE

15. CONTACTS PAGE

16. PAGE 404

********************************************************************************************************/




/********************************************************************************************************
                           1. CSS RESET
********************************************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button
{margin: 0;padding: 0;border: 0;outline: none !important;vertical-align: top;background: transparent;font-weight: normal;line-height: 1.5em;}

ol, ul {list-style:none;}
a, span {vertical-align:baseline;}
b, strong {font-weight: bold;}
i, dfn {font-style: italic;}

img {max-width: 100%;}




/********************************************************************************************************
                           2. VARIABLES
********************************************************************************************************/

/* 2.1 GRADIENTS */

/* 2.2 COLOR VARIABLES */

/* HEX2RGB COLOR CONVERTER */
{% assign convert_color = settings.color_2 %}

{% assign hex1 = convert_color | slice: 1 %}
{% assign hex2 = convert_color | slice: 2 %}
{% assign hex3 = convert_color | slice: 3 %}
{% assign hex4 = convert_color | slice: 4 %}
{% assign hex5 = convert_color | slice: 5 %}
{% assign hex6 = convert_color | slice: 6 %}

{% capture r1 %}{% case hex1 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex1 }}{% endcase %}{% endcapture %}
{% capture r2 %}{% case hex2 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex2 }}{% endcase %}{% endcapture %}
{% capture g1 %}{% case hex3 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex3 }}{% endcase %}{% endcapture %}
{% capture g2 %}{% case hex4 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex4 }}{% endcase %}{% endcapture %}
{% capture b1 %}{% case hex5 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex5 }}{% endcase %}{% endcapture %}
{% capture b2 %}{% case hex6 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ hex6 }}{% endcase %}{% endcapture %}

{% capture rgb %}{{ r1 | times:16 | plus:r2 }},{{ g1 | times:16 | plus:g2 }},{{ b1 | times:16 | plus:b2 }}{% endcapture %}




/* COLOR SHADES CONVERTER */
{% assign convert_color = settings.body_bg_color %}
{% assign convert_color_shift = -15 %}

{% assign node1 = convert_color | slice: 1 %}
{% assign node2 = convert_color | slice: 2 %}
{% assign node3 = convert_color | slice: 3 %}
{% assign node4 = convert_color | slice: 4 %}
{% assign node5 = convert_color | slice: 5 %}
{% assign node6 = convert_color | slice: 6 %}

{% capture red1 %}{% case node1 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node1 }}{% endcase %}{% endcapture %}
{% capture red2 %}{% case node2 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node2 }}{% endcase %}{% endcapture %}
{% capture green1 %}{% case node3 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node3 }}{% endcase %}{% endcapture %}
{% capture green2 %}{% case node4 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node4 }}{% endcase %}{% endcapture %}
{% capture blue1 %}{% case node5 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node5 }}{% endcase %}{% endcapture %}
{% capture blue2 %}{% case node6 %}{% when 'a' %}10{% when 'b' %}11{% when 'c' %}12{% when 'd' %}13{% when 'e' %}14{% when 'f' %}15{% else %}{{ node6 }}{% endcase %}{% endcapture %}

{% assign red = red1 | times:16 | plus:red2 | plus:convert_color_shift | remove:'-' %}
{% assign green = green1 | times:16 | plus:green2 | plus:convert_color_shift | remove:'-' %}
{% assign blue = blue1 | times:16 | plus:blue2 | plus:convert_color_shift | remove:'-' %}

{% assign node1 = red | divided_by:16 %}
{% assign node2 = red | modulo:16 %}
{% assign node3 = green | divided_by:16 %}
{% assign node4 = green | modulo:16 %}
{% assign node5 = blue | divided_by:16 %}
{% assign node6 = blue | modulo:16 %}

{% capture red1 %}{% case node1 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node1 }}{% endcase %}{% endcapture %}
{% capture red2 %}{% case node2 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node2 }}{% endcase %}{% endcapture %}
{% capture green1 %}{% case node3 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node3 }}{% endcase %}{% endcapture %}
{% capture green2 %}{% case node4 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node4 }}{% endcase %}{% endcapture %}
{% capture blue1 %}{% case node5 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node5 }}{% endcase %}{% endcapture %}
{% capture blue2 %}{% case node6 %}{% when 10 %}a{% when 11 %}b{% when 12 %}c{% when 13 %}d{% when 14 %}e{% when 15 %}f{% else %}{{ node6 }}{% endcase %}{% endcapture %}

{% capture body_bg_color_dark %}#{{ red1 }}{{ red2 }}{{ green1 }}{{ green2 }}{{ blue1 }}{{ blue2 }}{% endcapture %}




/* 2.3 CSS3 TRANSITIONS */
{% capture trans_slow %}
-webkit-transition: .5s ease-in-out;
   -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
     -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
{% endcapture %}

{% capture trans_fast %}
-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
{% endcapture %}

{% capture trans_colors %}
-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
{% endcapture %}




/********************************************************************************************************
									3. GLOBAL THEME STYLES
********************************************************************************************************/

/* 3.1 MISCELLANEOUS */

/* hiding placeholder text on focus in webkit, thanks to http://www.kolodvor.net/2012/03/23/webkit-placeholder-attribute-behavior */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color: transparent;}


/* clearfix - nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {zoom: 1;}

.clearfix:before,
.clearfix:after {content: "";display: table;}

.clearfix:after {clear: both;}


/* utility classes: hidden, float left, float right, etc. */
.hidden,
.visuallyhidden {display: none;}
 
.left {float: left;}
.right {float: right;}


/* jquery.formstyler styles for selects */
.jq-selectbox {display: block;z-index: 1000 !important;cursor: pointer;}
.jq-selectbox.opened {}
.jq-selectbox.focused {}

.jq-selectbox__select {}

.jq-selectbox__select-text {width: 100%;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.jq-selectbox__trigger i {position: absolute;top: 0;right: 0;
{{ trans_fast }}
}
.jq-selectbox__dropdown {width: 100%;
{{ trans_fast }}
}

.jq-selectbox.opened .jq-selectbox__trigger i {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}




/* other */
#at15s {z-index: 999 !important;}

#habla_window_div {
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
}




/* 3.2 PAGE PRELOADER */
#page_preloader {width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 1000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNrs2TEKwkAUhOEXBSurQM5jo2AbyG2EgIfyCkKqXEDiGYI2QkBn5aXYYBqb7MAM/Ft/LNutWbwtqtEVDei9UIMbajf93A51CyLn6twWrUwQOq0csTl6EICDMV/jOKG9pb+Nv21rCW53rM1wvFzPsD5zOc1WRjaBBRZYYIEFFlhggQUWWGCBBRZYYIEFFvh/cE/kfQbwnQh8C+ALEfhrLYznU6YY5RUBuJpe98HS/Vg8zr2R8E16Rk0C0MYt0dftR4ABAFfva4h/thfHAAAAAElFTkSuQmCC') 50% 50% no-repeat {{ settings.body_bg_color }};;
}
#page_preloader div {width: 100%;height: 100%;background: url('fancybox_loading.gif') 50% 50% no-repeat;position: absolute;left: 0;top: 0;z-index: 1001;}




/* 3.3 COOKIES POLICY MESSAGE */
.cookies_container {min-height: 60px;background: #191919;
display: none;
}

.cookies_container p {display: inline-block;margin: 0;font-size: 17px;line-height: 60px;color: #888;}
.cookies_container p b {vertical-align: baseline;color: #fff;}

.cookies_container .cookie_btn {height: 40px;display: inline-block;margin: 10px 0 10px 6px;padding: 0 20px;border-width: 1px;border-style: solid;font-weight: bold;font-size: 17px;line-height: 38px;color: #fff;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;

{{ trans_fast }}
}
.cookies_container .cookie_ok {margin: 10px 0 10px 20px;background: #18a439;border-color: #18a439;}
.cookies_container .cookie_no {border-color: #585858;}

.cookies_container .cookie_btn:hover {background: #585858;border-color: #585858;}




/* 3.4 GOOGLE MAPS */
#google_map,
#google_map iframe {width: 100% !important;height: 300px !important;background: #e7e7e6;}

#google_map img {max-width: none !important;}




/* 3.5 FANCYBOX COMMON STYLES */
.fancybox-skin {padding: 15px;}


.fancybox-close {display: block;background: {{ settings.color_2 }};border: 3px solid rgba(255,255,255,.9);
-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
        box-shadow: 0 0 8px 0 rgba(0,0,0,.5);

-webkit-border-radius: 50%;
        border-radius: 50%;
}
.fancybox-close:hover {background: {{ settings.color_4 }};}

.fancybox-close:before {content: '\f00d';width: 30px;height: 30px;display: block;font: 15px/30px 'FontAwesome';color: {{ settings.color_1 }};text-align: center;}


.fancybox-nav span {width: 36px;height: 36px;display: block;margin: -18px 0 0 0;background: {{ settings.color_2 }};border: 3px solid rgba(255,255,255,.9);
-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.6);

-webkit-border-radius: 50%;
        border-radius: 50%;

{{ trans_colors }}
}
.fancybox-nav:hover > span {background: {{ settings.color_4 }};}

.fancybox-nav span:before {width: 30px;height: 30px;display: block;font: 20px/28px 'FontAwesome';color: {{ settings.color_1 }};text-align: center;}

.fancybox-prev span:before {content: '\f104';padding: 0 2px 0 0;}
.fancybox-next span:before {content: '\f105';padding: 0 0 0 2px;}





/* 3.6 NEWSLETTER POPUP */
#newsletter_popup__wrap {}
#newsletter_popup__wrap .fancybox-skin {padding: 30px !important;}
#newsletter_popup__wrap .fancybox-close {}

#newsletter_popup h4 {font-weight: bold;font-size: 15px;text-align: center;text-transform: uppercase;}
#newsletter_popup form {margin: 30px 0 0 0;position: relative;}
#newsletter_popup input[type=email] {width: 250px;height: 35px;}
#newsletter_popup .btn {height: 35px;}

#newsletter_popup .newsletter_off__wrap {margin: 30px 0 0 0;text-align: center;}
#newsletter_popup .newsletter_off__wrap .btn {height: auto;font-size: 11px;}

#newsletter_popup .newsletter_error {margin: 0;font-weight: bold;font-size: 11px;color: #f00;position: absolute;left: 0;top: 41px;}
#newsletter_popup .newsletter_success {font-weight: bold;color: #119000;text-align: center;}




/* 3.7 ADD TO CART MESSAGE */
#cart_added {}
#cart_added .cart_added__row {height: 120px;display: table;}

#cart_added h4 {margin: 0 0 15px 0;text-align: center;}

.cart_added__1 {width: 120px;height: 100%;display: table-cell;text-align: center;}
.cart_added__1 img {height: 120px;padding: 10px;border: 1px solid {{ settings.border_color }};}

.cart_added__2 {width: 300px;height: 100%;display: table-cell;padding: 0 0 0 15px;}
.cart_added__2 .product_name {display: block;}
.cart_added__2 #cart_added__quantity {margin: 15px 0 0 0;font-size: 16px;}
.cart_added__2 .btn {margin: 15px 10px 0 0;}


#cart_added.cart_error {max-width: 420px;}




/* 3.8 PRODUCT QUICK VIEW */
#quick_view__wrap {}
#quick_view__wrap .fancybox-skin {padding: 30px !important;}

#product_quick_view {width: 700px;}

.product_quick_wrapper {width: 100%;display: table;}

.quick_view__left {width: 317px;height: 100%;display: table-cell;padding: 0 15px 0 0;}
.quick_view__left #img_big {width: 302px;padding: 4px;border: 1px solid {{ settings.border_color }};}
.quick_view__left #img_big img {background: rgba(0,0,0,.05);}

.quick_view__left .img_gallery {}
.quick_view__left .img_gallery a {width: 94px !important;display: block;float: left;margin: 0 10px 0 0;padding: 4px;border: 1px solid {{ settings.border_color }};}
.quick_view__left .img_gallery a img {max-width: 100%;background: rgba(0,0,0,.05);}


.quick_view__right {height: 100%;display: table-cell;overflow: hidden;padding: 0 0 0 15px;/*border-left: 1px solid {{ settings.border_color }};*/}
.quick_view__right p {margin: 15px 0 0 0;font-size: 14px;}
.quick_view__right label {font-weight: normal;font-size: 14px;color: {{ settings.color_2 }};}

#quick_view__name {margin: 0;}
#quick_view__type {}
#quick_view__vendor {}

#quick_view__variants {overflow: hidden;margin: 15px -10px 0 -10px;}
#quick_view__variants label {display: block;padding: 0 10px;}
#quick_view__variants .options_wrapper {}
#quick_view__variants .selector-wrapper {width: 33.33333333333333%;float: left;padding: 15px 10px 0 10px;}
#quick_view__variants .selector-wrapper label {display: none !important;}
#quick_view__variants .selector-wrapper select {width: 100%;display: block;}

#quick_view__price {margin: 30px 0 0 0;}
#quick_view__price {position: relative;}
#quick_view__price .price {margin: 0;padding: 0 60px 0 0;}
#quick_view__price .money {margin: 0 7px 0 0;font-size: 20px;}
#quick_view__price .money_sale {font-size: 16px;}
#quick_view__price .money_sale_percent {width: 52px;height: 26px;display: block;margin: -13px 0 0 0;background: {{ settings.product_price_color }};font: bold 14px/26px 'Arial';color: {{ settings.color_1 }};text-align: center;position: absolute;right: 0;top: 50%;
-webkit-border-radius: 2px;
        border-radius: 2px;
}

#quick_view__availability {margin: 20px 0 0 0;}

#quick_view__form {margin: 15px 0 0 0;}
#quick_view__form label {display: block;}
#quick_view__form #quick_view__add {height: 50px;margin: 10px 10px 0 0;padding: 0 20px;font-size: 18px;}




/********************************************************************************************************
                           4. TYPOGRAPHY
********************************************************************************************************/

body {font: normal {{ settings.base_font_size }} "{{ settings.base_font | replace:'google_fonts:' }}";color: {{ settings.base_font_color }};}




/* 4.1 HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {margin: 15px 0;font: normal {{ settings.heading_font_size }} "{{ settings.heading_font | replace:'google_fonts:' }}";color: {{ settings.heading_font_color }};}

h2,
h3,
h4 {font-size: 16px;}

h5,
h6 {font-size: 14px;}

.page_heading {margin: 0;padding: 14px 20px;background: {{ settings.color_1 }};font-size: {{ settings.heading_font_size }};}
.page_heading a {font-weight: inherit;line-height: inherit;}

.template-index .page_heading,
.template-list-collections .page_heading {margin: 30px 0 0 0;}




/* 4.2 PARAGRAPHS & LISTS */
p {margin: 15px 0;padding: 0;}

.column_center ul {list-style-type: square;list-style-position: inside;}
.column_center ol {list-style-type: decimal;list-style-position: inside;}




/* 4.3 LINKS */
a {color: {{ settings.link_color }};text-decoration: none;
-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover,
a:active {color: {{ settings.link_color_hover }};}




/* 4.4 PRODUCT ATTRIBUTES (name, description, price) */
.product_name {font-size: {{ settings.product_name_size }};color: {{ settings.product_name_color }};}
.product_name a {display: inline-block;color: {{ settings.product_name_color }};
{{ trans_fast }}
}
.product_name a:hover {color: {{ settings.product_name_color_hover }};}


.product_desc {font-size: {{ settings.product_desc_size }};color: {{ settings.product_desc_color }};}


.money {color: {{ settings.product_price_color }};}

.money_sale,
.compare-at-price {color: {{ settings.base_font_color }};text-decoration: line-through;}




/* 4.5 RTE */
.rte {margin-top: 15px;margin-bottom: 15px;color: inherit;}
.rte > * {max-width: 100% !important;}

.rte a {/*color: inherit;*/text-decoration: underline;}
.rte a:hover {text-decoration: none;}

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {margin: 30px 0 15px 0;padding: 0 0 15px 0;border-bottom: 2px solid rgba(0,0,0,.2);}

.rte h1 {font-size: 30px;}
.rte h2 {font-size: 28px;}
.rte h3 {font-size: 26px;}
.rte h4 {font-size: 24px;}
.rte h5 {font-size: 18px;}
.rte h6 {font-size: 16px;}

.rte ul {list-style-type: disc;list-style-position: inside;}

.rte ol {list-style-type: decimal;list-style-position: inside;}

.rte blockquote {padding: 5px 35px;font-weight: normal;}
.rte blockquote:before {content: '\f10d';font: 16px 'FontAwesome';}
.rte blockquote:after {content: '\f10e';float: right;font: 12px 'FontAwesome';}
.rte blockquote * {margin: 10px 0 !important;font-size: 15px;}

.rte iframe {max-width: 100% !important;}


.page_content .rte {}
.page_content .rte table {width: 100%;max-width: 100%;}
.page_content .rte table td {padding: 0 15px;}
.page_content .rte table td img {width: auto;max-width: 100% !important;}

.page_content .rte table h2,
.page_content .rte table h3,
.page_content .rte table h4,
.page_content .rte table h5,
.page_content .rte table h6 {margin: 15px 0;padding: 0;border: none;font-weight: normal;color: {{ settings.color_4 }};text-transform: uppercase;}




/********************************************************************************************************
                           5. FORMS & COMPONENTS
********************************************************************************************************/

/* 5.1 FORMS */
label {font-size: 13px;color: {{ settings.color_2 }};}

select,
select.form-control,
textarea,
textarea.form-control,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="telephone"] {padding: 6px;border:1px solid {{ settings.border_color }};font-size: 13px;color: {{ settings.font_color }};
-webkit-box-sizing: border-box;
        box-sizing: border-box;

-webkit-border-radius: 5px;
        border-radius: 5px;

box-shadow: none;
}

select,
select.form-control {padding: 8px 3px;}

textarea,
textarea.form-control {min-width: 100%;max-width: 100%;}

select:focus,
select.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="telephone"]:focus {border-color: #aaa;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
}


input[type="radio"],
input[type="checkbox"],


.form-group {vertical-align: top !important;margin-top: 15px;margin-bottom: 0;}


.form-horizontal {}
.form-horizontal label {padding-top: 0 !important;text-align: right;line-height: 34px;}
.form-horizontal select {width: 100%;}

.action_bottom span.note {margin-left: 5px;}
.action_bottom span.note a {margin-left: 5px;}




/* 5.2 ALERTS & NOTIFICATIONS */
.alert {margin: 15px 0;padding: 12px;font-weight: normal;font-size: 14px;
-webkit-border-radius: 0;
        border-radius: 0;
}


.alert p {margin: 0;}

.alert a {font-weight: bold;text-decoration: underline;}
.alert a:hover {text-decoration: none;}

.alert ul {list-style-type: disc;list-style-position: inside;margin: 0;}

.alert ol {list-style-type: decimal;list-style-position: inside;margin: 0;}

.alert > p + p,
.alert > ul + ul {margin: 10px 0 0 0;}


.alert-success {background-color: #dff0d8;color: #1e892a;}
.alert-success a {color: #1e892a;}

.alert-info {background-color: #cfedfc;color: #267abe;}
.alert-info a {color: #267abe;}

.alert-warning {background-color: #fff5c7;color: #c87100;}
.alert-warning a {color: #c87100;}

.alert-danger,
.alert-error {background-color: #ffcccc;color: #d10300;}

.alert-danger a,
.alert-error a {color: #d10300;}


.alert-form {border-color: #d10300 !important;}
.alert-form-info {display: none;margin: 5px 0 0 0;font-size: 12px;color: #d10300;}


.notify_success {color: #1e892a;}
.notify_info {color: #267abe;}
.notify_warning {color: #c87100;}
.notify_danger {color: #d10300;}




/* 5.3 BUTTONS */
.btn,
.btn a,
.btn-info,
.btn-primary {padding: 7px 10px;background: {{ settings.color_2 }} !important;border-color: {{ settings.color_2 }} !important;font-size: 12px;color: {{ settings.color_1 }} !important;
box-shadow: none !important;

-webkit-border-radius: 5px;
        border-radius: 5px;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.btn a {padding: 0 !important;border: none !important;}

.btn:hover,
.btn:hover a,
.btn-info:hover,
.btn-primary:hover {background: {{ settings.color_4 }} !important;border-color: {{ settings.color_4 }} !important;}

.btn-alt,
.btn-alt a {background: {{ settings.color_4 }} !important;border-color: {{ settings.color_4 }} !important;}

.btn-alt:hover,
.btn-alt:hover a {background: {{ settings.color_2 }} !important;border-color: {{ settings.color_2 }} !important;}




/********************************************************************************************************
                           6. GLOBAL PAGE LAYOUT
********************************************************************************************************/

/*html, body {height: 100%;}*/
html {width: 100%;height: 100%;}

body {background: {{ settings.color_2 }};}

#wrapper1 {position: relative;z-index: 1;
background: {% if settings.body_bg_img_toggle %}url({{ 'body_bg_img.jpg' | asset_url }}) 50% 0 no-repeat{% endif %} {{ settings.body_bg_color }};
}
#wrapper2 {overflow: hidden;}

.container {padding: 0;}


/* outdated browsers notification */
.old_browsers a {display: block;padding: 20px 0;background: #ffa200;font-size: 20px;color: #fff;text-align: center;text-decoration: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);

-webkit-transition: color .4s ease-in-out;
        transition: color .4s ease-in-out;
}
.old_browsers a i {margin: 0 5px 0 0;font-size: 30px;color: #e90b00;
text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
}
.old_browsers a:hover {color: #e90b00;}




/********************************************************************************************************
                           7. MAIN PAGE
********************************************************************************************************/

{% if settings.promobanner_toggle %}
/* PROMOBANNER */
#promobanner {height: 160px;background: url({{ 'promobanner_bg.png' | asset_url }}) 50% 0 no-repeat;background-color: {{ settings.promobanner_bg_color }};position: relative;}

#promobanner_close {display: block;vertical-align: top;color: {{ settings.color_1 }};position: absolute;right: 30px;top: 25px;z-index: 1000;}
#promobanner_close:before {content: '\f00d';font: 20px/1em 'FontAwesome';}
#promobanner_close:hover {color: {{ settings.color_2 }};}


.promobanner_container {width: 1600px;margin: 0 auto;}


.promobanner_error {height: 120px;font-size: 20px;line-height: 120px;color: #d10300;text-align: center;text-transform: uppercase;
text-shadow: 1px 1px 0 rgba(255, 255, 255, .7);
}


.promobanner_content {width: 1100px;float: left;}

.promobanner_content img {float: left;}

.promobanner_text {min-width: 700px;float: left;text-align: center;text-transform: uppercase;}
.promobanner_text h2 {margin: 18px 0 0 0;font-weight: bold;font-size: 26px;color: {{ settings.color_1 }};}
.promobanner_text h3 {margin: 10px 0 0 0;font-weight: bold;font-size: 18px;color: {{ settings.color_1 }};}
.promobanner_text .btn {margin: 17px 0 0 0;padding: 7px 24px;background: {{ settings.color_1 }} !important;border-color: {{ settings.color_1 }} !important;font-weight: bold;font-size: 16px;color: {{ settings.color_4 }} !important;}
.promobanner_text .btn:hover {background: {{ settings.color_2 }} !important;border-color: {{ settings.color_2 }} !important;color: {{ settings.color_1 }} !important;}


.promobanner_counter {width: 500px;float: right;margin: 30px 0 0 0;text-align: right;}

#promobanner_countdown {height: 100px;}
#promobanner_countdown > div {width: 100px;position: relative;}
#promobanner_countdown > div ~ div {margin: 0 0 0 20px;}

#promobanner_countdown canvas {width: 100px !important;}
#promobanner_countdown input {width: 100px;height: 40px;vertical-align: top;margin: 21px 0 0 -100px;padding: 0;background: none;border: none;font-weight: bold;font-size: 32px;line-height: 40px;color: {{ settings.color_1 }};text-align: center;}
#promobanner_countdown span {width: 100px;display: inline-block;vertical-align: top;margin: 52px 0 0 -100px;font-size: 17px;color: {{ settings.color_1 }};text-align: center;}
{% endif %}




/* 7.1 HEADER */
header {background: {{ settings.color_1 }};}


.header_row__1 {padding: 20px 0 0 0;}


.header_currency {float: right;}
.header_currency select {width: 0 !important;height: 0 !important;overflow: hidden !important;}
.header_currency .jq-selectbox {width: 40px;}
.header_currency .jq-selectbox__select {}
.header_currency .jq-selectbox__select-text {}
.header_currency .jq-selectbox__trigger i {right: 0;top: 3px;}

.header_currency .jq-selectbox__dropdown {width: 100% !important;overflow: hidden;background: {{ settings.color_2 }};color: {{ settings.color_1 }};text-align: center;top: 24px !important;
-webkit-border-radius: 4px;
        border-radius: 4px;
}
.header_currency .jq-selectbox__dropdown ul {}
.header_currency .jq-selectbox__dropdown ul li {padding: 3px 0;}

.header_currency .jq-selectbox__dropdown ul li:hover {background: {{ settings.color_4 }};}
.header_currency .jq-selectbox__dropdown ul li.sel {background: {{ settings.color_4 }};cursor: default;}


.header_user {float: right;margin: 0 15px 0 0;padding: 0 15px 0 0;border-right: 1px solid rgba(0,0,0,.15);font-size: 0;}
.header_user li {display: inline-block;font-size: {{ settings.base_font_size }};}
.header_user li ~ li {margin: 0 0 0 15px;}
.header_user li a {}
.header_user li a i {margin: 0 5px 0 0;line-height: 1.5em;}


.header_social {float: right;margin: 0 15px 0 0;padding: 0 15px 0 0;border-right: 1px solid rgba(0,0,0,.15);font-size: 0;}
.header_social li {display: inline-block;font-size: 12px;}
.header_social li ~ li {margin: 0 0 0 15px;}
.header_social li a {}
.header_social li a i {vertical-align: baseline;}


.header_row__2 {}


.logo_main {}
.logo_main a {}
.logo_main b {font-size: 20px;}


.header_search {padding: 18px 0 0 0;}
.header_search form {height: 35px;padding: 0 80px 0 0;}
.header_search #search-field {width: 100%;height: 35px;float: left;padding: 0 12px;background: {{ settings.color_1 }};border: 1px solid {{ settings.border_color }};
-webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;

-webkit-box-shadow: none;
        box-shadow: none;
}
.header_search #search-submit {width: 80px;height: 35px;margin: 0 -83px 0 0;background: {{ settings.color_4 }};font-size: 14px;color: {{ settings.color_1 }};
-webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;

{{ trans_fast }}
}
.header_search #search-submit:hover {background: {{ settings.color_2 }};}


.custom_header {padding: 18px 0 0 0;text-align: right;}
.custom_header i {vertical-align: baseline;margin: 0 10px 0 0;font-size: 35px;color: {{ settings.color_4 }};}
.custom_header span {font-size: 21px;color: {{ settings.color_2 }};}


.header_row__3 {padding: 20px 0 0 0;}


.header_cart {float: right;}
.header_cart a {height: 60px;display: block;padding: 0 20px;background: {{ settings.color_4 }};font-size: 14px;line-height: 59px;color: {{ settings.color_1 }};position: relative;
-webkit-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;
}
.header_cart a i {vertical-align: top;margin: 0 12px 0 0;font-size: 30px;line-height: 57px;}
.header_cart a span {margin: 0 4px;}

.header_cart a:before {content: '';display: block;background: rgba(255,255,255,.3);position: absolute;top: 0;right: 0;bottom: 0;left: 0;
-webkit-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;

opacity: 0;

{{ trans_fast }}
}
.header_cart a:hover:before {
opacity: 1;
}




/* 7.2 MEGAMENU */
#megamenu {height: 60px;background: {{ settings.color_2 }};position: relative;z-index: 100;
-webkit-border-radius: 5px 10px 0 0;
        border-radius: 5px 10px 0 0;
}


.sf-menu {position: relative;z-index: 100;}
.sf-menu > li {float: left;margin: 0 0 0 20px;}
.sf-menu > li ~ li {margin: 0 0 0 10px;}
.sf-menu > li > a {height: 60px;display: block;padding: 0 15px;font-size: 16px;line-height: 60px;color: {{ settings.color_1 }};position: relative;}

.sf-menu > li > a.sf-with-ul:after {content: '\f107';margin: 0 0 0 5px;font: 14px 'FontAwesome';}
.sf-menu > li > a.sf-with-ul:hover:after {content: '\f106';}

.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover,
.sf-menu > li > a.active {color: {{ settings.color_4 }};}

.sf-menu .menu_badge {width: 100%;display: block;vertical-align: top;font-size: 0;text-align: center;position: absolute;left: 0;top: -13px;}
.sf-menu .menu_badge span {height: 20px;display: inline-block;vertical-align: top;padding: 0 5px;background: {{ settings.color_4 }};font-size: 11px;line-height: 20px;color: {{ settings.color_1 }};text-transform: capitalize;position: relative;}
.sf-menu .menu_badge span:after {content: '';width: 8px;height: 8px;display: block;margin: 0 0 0 -4px;border: 4px solid transparent;border-top-color: {{ settings.color_4 }};position: absolute;left: 50%;bottom: -8px;}


.sf-menu > li > ul {width: 870px;background: {{ settings.color_2 }};border-top: 1px solid rgba(255,255,255,.1);position: absolute;left: 0;top: 60px;
display: none;

-webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
}


.sf-menu .submenu .btn {background: {{ settings.color_3 }} !important;border-color: {{ settings.color_3 }} !important;color: {{ settings.color_2 }} !important;}
.sf-menu .submenu .btn:hover {background: {{ settings.color_4 }} !important;border-color: {{ settings.color_4 }} !important;color: {{ settings.color_1 }} !important;}




/* 1: CUSTOM LINK */
.megamenu_item_1 {}




/* 2: CATALOG */
.submenu_2 {}
.submenu_2 a {color: {{ settings.color_1 }};}
.submenu_2 a:hover {color: {{ settings.color_4 }};}


.submenu_2__categories {}

.submenu_2__categories h4 {margin: 0;padding: 20px 20px 0 20px;font-size: 19px;}

.submenu_2__categories ul {}
.submenu_2__categories ul li {}
.submenu_2__categories ul li ~ li {border-top: 1px solid rgba(255,255,255,.1);}
.submenu_2__categories ul li a {display: block;padding: 15px 20px;font-weight: 300;font-size: 13px;line-height: 1em;}
.submenu_2__categories ul li a:after {content: '\f105';float: right;margin: 0 0 0 5px;font: 13px/1em 'FontAwesome';color: {{ settings.color_1 }};}


.submenu_2__all {padding: 10px 20px;border: 1px solid rgba(255,255,255,.1);border-width: 1px 0;text-align: center;}
.submenu_2__all a {font-size: 18px;}


.submenu_2__banners {padding: 0 20px 35px 20px;}
.submenu_2__banners a {display: block;margin: 25px 0 0 0;padding: 0 30px 15px 30px;position: relative;}
.submenu_2__banners a img {position: absolute;left: 0;top: 0;z-index: 0;
-webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
}
.submenu_2__banners a div {position: relative;z-index: 1;}

.submenu_2__banners h3 {margin: 0;padding: 12px 0 0 0;font-size: 30px;}
.submenu_2__banners h4 {margin: 0;padding: 3px 0 0 0;font-weight: 300;font-size: 18px;}
.submenu_2__banners h5 {margin: 0;padding: 6px 0 0 0;font-weight: 300;font-size: 14px;}


.submenu_2__banners .banner_1 a {background: {{ settings.color_4 }};}
.submenu_2__banners .banner_1 h3 {color: {{ settings.color_1 }};}
.submenu_2__banners .banner_1 h4 {color: {{ settings.color_1 }};}
.submenu_2__banners .banner_1 h5 {color: {{ settings.color_2 }};}

.submenu_2__banners .banner_1 a:hover {background: {{ settings.color_1 }};}
.submenu_2__banners .banner_1 a:hover h3 {color: {{ settings.color_2 }};}
.submenu_2__banners .banner_1 a:hover h4 {color: {{ settings.color_2 }};}


.submenu_2__banners .banner_2 a {background: {{ settings.color_1 }};}
.submenu_2__banners .banner_2 h3 {color: {{ settings.color_4 }};}
.submenu_2__banners .banner_2 h4 {color: {{ settings.base_font_color }};}
.submenu_2__banners .banner_2 h5 {color: {{ settings.color_2 }};}

.submenu_2__banners .banner_2 a:hover {background: {{ settings.color_4 }};}
.submenu_2__banners .banner_2 a:hover h3 {color: {{ settings.color_1 }};}
.submenu_2__banners .banner_2 a:hover h4 {color: {{ settings.color_1 }};}
.submenu_2__banners .banner_2 a:hover h5 {color: {{ settings.color_1 }};}




/* 3: BLOG */
.submenu_3 {padding: 20px;}

.submenu_3 {}
.submenu_3 .blog_date {margin: 0;font-size: 13px;color: {{ settings.color_4 }};}
.submenu_3 .blog_img {margin: 15px 0 0 0;}

.submenu_3 .blog_title {}
.submenu_3 .blog_title a {font-size: 18px;color: {{ settings.color_1 }};}
.submenu_3 .blog_title a:hover {color: {{ settings.color_4 }};}

.submenu_3 .blog_content {}




/* 4: SALE */
.submenu_4 {padding: 20px;}

.submenu_4 .product_item {padding: 20px;background: rgba(255,255,255,.1);
{{ trans_colors }}
}
.submenu_4 .product_item:hover {background: rgba(255,255,255,.15);}

.submenu_4 .product_img {}
.submenu_4 .product_img a {display: block;padding: 0 20px;}

.submenu_4 .product_price {padding: 10px 0 0 0;font-size: 19px;color: {{ settings.product_price_color }};}
.submenu_4 .product_price .money {margin: 0 4px 0 0;}
.submenu_4 .product_price .compare-at-price {font-weight: 300;font-size: 14px;color: {{ settings.color_1 }};
opacity: .3;
}

.submenu_4 .product_name {padding: 5px 0 0 0;}
.submenu_4 .product_name a {color: {{ settings.color_1 }};}
.submenu_4 .product_name a:hover {color: {{ settings.color_4 }};}

.submenu_4 .product_desc {padding: 5px 0 0 0;}


.submenu_4__banners {}
.submenu_4__banners a {display: block;position: relative;}

.submenu_4__banners .banner_1 a {padding: 10px 20px 15px 20px;background: {{ settings.color_1 }};}
.submenu_4__banners .banner_1 h3 {margin: 0;font-size: 30px;color: {{ settings.color_4 }};}
.submenu_4__banners .banner_1 h4 {margin: 3px 0 0 0;font-size: 19px;color: {{ settings.color_4 }};}
.submenu_4__banners .banner_1 h5 {margin: 7px 0 0 0;font-size: 12px;color: {{ settings.base_font_color }};}
.submenu_4__banners .banner_1 h6 {margin: 8px 0 0 0;font-weight: 300;font-size: 14px;color: {{ settings.color_2 }};}

.submenu_4__banners .banner_1 a:hover {background: {{ settings.color_4 }};}

.submenu_4__banners .banner_1 a:hover h3,
.submenu_4__banners .banner_1 a:hover h4,
.submenu_4__banners .banner_1 a:hover h5,
.submenu_4__banners .banner_1 a:hover h6 {color: {{ settings.color_1 }};}

.submenu_4__banners .banner_2 {margin: 30px 0 0 0;}
.submenu_4__banners .banner_2 a {background: {{ settings.color_4 }};}
.submenu_4__banners .banner_2 div {width: 100%;height: 100%;padding: 0 20px;position: absolute;left: 0;top: 0;}
.submenu_4__banners .banner_2 h3 {margin: 20px 0 0 0;font-size: 24px;color: {{ settings.color_1 }};}
.submenu_4__banners .banner_2 h4 {margin: 0;font-size: 48px;color: {{ settings.color_1 }};}
.submenu_4__banners .banner_2 h5 {margin: 5px 0 0 0;font-weight: 300;font-size: 14px;color: {{ settings.color_2 }};}

.submenu_4__banners .banner_2 a:hover {background: {{ settings.color_1 }};}

.submenu_4__banners .banner_2 a:hover h3,
.submenu_4__banners .banner_2 a:hover h4,
.submenu_4__banners .banner_2 a:hover h5 {color: {{ settings.color_4 }};}




/* 5: CUSTOM LINK */
.megamenu_item_5 {}




/* 6: CUSTOM LINK */
.megamenu_item_6 {}




/* 7.3 NIVOSLIDER */
.nivoSlider {width: 100%;height: auto;overflow: hidden;position: relative;}
.nivoSlider img {max-width: none;position: absolute;top: 0;left: 0;}
.nivo-main-image {width: 100% !important;display: block !important;position: relative !important;}

.nivoSlider a.nivo-imageLink {width: 100%;height: 100%;margin: 0;padding: 0;border: 0;z-index: 6;position: absolute;left: 0;top: 0;
display: none;filter: alpha(opacity=0);opacity: 0;
}

.nivo-slice {height: 100%;display: block;position: absolute;top: 0;z-index: 5;}

.nivo-box {display: block;overflow: hidden;position: absolute;z-index: 5;}
.nivo-box img {display: block;}

.nivoSlider > a,
.nivoSlider > img,
.caption_hidden {display: none;}


.slider_wrap {height: 100%;margin: 30px 0 0 0;position: relative;z-index: 1;}

.nivoSlider {}


.nivo-caption {width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 8;
display: none;
}
.nivo-caption a {width: 100%;height: 100%;display: block;}

.nivo-caption .wrap_1 {width: 100%;height: 100%;display: table;}
.nivo-caption .wrap_2 {width: 100%;height: 100%;display: table-cell;vertical-align: middle;padding: 30px 30px 30px 485px;}

.nivo-caption h3 {margin: 0;font-size: 19px;color: {{ settings.color_4 }};}
.nivo-caption p {margin: 8px 0 0 0;color: {{ settings.base_font_color }};}
.nivo-caption .btn {margin: 15px 0 0 0;padding: 9px 25px;font-size: 14px;}


.slider_nav {position: absolute;right: 20px;bottom: 20px;z-index: 9;}
.slider_nav .container {width: auto;}

.slider_nav a {width: 22px;height: 22px;display: inline-block;vertical-align: top;background: {{ settings.color_2 }};font-size: 0;cursor: pointer;
-webkit-border-radius: 50%;
        border-radius: 50%;
}
.slider_nav a:before {display: block;font: 15px/22px 'FontAwesome';color: {{ settings.color_1 }};text-align: center;}
.slider_nav a:hover {background: {{ settings.color_4 }};}

.slider_nav .slider_nav__prev {margin: 0 4px 0 0;padding: 0 1px 0 0;}
.slider_nav .slider_nav__prev:before {content: '\f104';}

.slider_nav .slider_nav__next {padding: 0 0 0 1px;}
.slider_nav .slider_nav__next:before {content: '\f105';}


.slider_controls {width: 100%;font-size: 0;text-align: center;position: absolute;left: 0;bottom: 20px;z-index: 10;}
.slider_controls .container {}

.slider_controls a {display: inline-block;vertical-align: top;color: {{ settings.color_1 }};cursor: pointer;}
.slider_controls a ~ a {margin: 0 0 0 10px;}
.slider_controls a span {display: none;}
.slider_controls a:before {content: '\f111';display: block;font: 20px 'FontAwesome';}

.slider_controls a:hover {color: {{ settings.color_2 }};}
.slider_controls a.active {color: {{ settings.color_2 }};cursor: default;}




/* 7.4 SHOWCASE */
#showcase {}

.custom_showcase {margin: 30px 0 0 0;}
.custom_showcase a {display: block;padding: 0 28px 25px 28px;position: relative;}
.custom_showcase a img {position: absolute;left: 0;z-index: 0;}
.custom_showcase a div {width: 48%;position: relative;z-index: 1;}

.custom_showcase h4 {margin: 22px 0 0 0;font-size: 19px;}
.custom_showcase p {margin: 10px 0 0 0;font-weight: 300;font-size: 12px;}
.custom_showcase span {display: block;margin: 10px 0 0 0;font-weight: 300;font-size: 14px;color: {{ settings.color_2 }};
{{ trans_colors }}
}

.custom_showcase__1 a {background: {{ settings.color_1 }};border: 1px solid {{ settings.border_color }};}
.custom_showcase__1 h4 {color: {{ settings.color_4 }};}
.custom_showcase__1 p {color: {{ settings.base_font_color }};}

.custom_showcase__2 a {background: {{ settings.color_4 }};border: 1px solid {{ settings.color_4 }};}
.custom_showcase__2 h4 {color: {{ settings.color_1 }};}
.custom_showcase__2 p {color: {{ settings.color_1 }};}


.custom_showcase__1 a:hover span {color: {{ settings.color_4 }};}
.custom_showcase__2 a:hover span {color: {{ settings.color_1 }};}




/* 7.5 MAIN PRODUCT LISTING */
.product_listing_main .product_wrapper {margin: 30px 0 0 0;padding: 20px;background: {{ settings.color_1 }};border: 1px solid {{ settings.border_color }};}

.product_listing_main .product_img {}
.product_listing_main .product_img a {display: block;position: relative;}
.product_listing_main .product_img img {background-color: {{ settings.color_1 }};position: relative;z-index: 1;}
.product_listing_main .product_img .img__2 {position: absolute;left: 0;top: 0;z-index: 10;
opacity: 0;
}

.product_listing_main .product_img span.product_badge {height: 20px;display: inline-block;vertical-align: top;padding: 0 5px;background: {{ settings.color_2 }};font-size: 12px;line-height: 19px;color: {{ settings.color_1 }};text-transform: capitalize;position: absolute;top: -34px;z-index: 10;}
.product_listing_main .product_img span.product_badge:after {content: '';width: 8px;height: 8px;display: block;margin: 0 0 0 -4px;border: 4px solid transparent;border-top-color: {{ settings.color_2 }};position: absolute;left: 50%;bottom: -8px;}

.product_listing_main .product_img span.new {left: 0;}
.product_listing_main .product_img span.sale {background: {{ settings.color_4 }};right: 0;right: 0;}
.product_listing_main .product_img span.sale:after {border-top-color: {{ settings.color_4 }};}

.product_listing_main .product_info {}

.product_listing_main .product_price {padding: 15px 0 0 0;font-size: 19px;color: {{ settings.product_price_color }};}
.product_listing_main .product_price .money {margin: 0 3px 0 0;}
.product_listing_main .product_price .money_sale {font-size: 15px;{{ settings.base_font_color }}}

.product_listing_main .product_name {}

.product_listing_main .product_desc {padding: 3px 0 0 0;}
.product_listing_main .product_desc_short {}
.product_listing_main .product_desc_long {
display: none;
}

.product_listing_main .product_links {padding: 10px 0 0 0;font-size: 0;}
.product_listing_main .product_links form {display: inline-block;}
.product_listing_main .product_links .btn {width: 38px;height: 38px;margin: 0 6px 0 0;padding: 0;
-webkit-border-radius: 50%;
        border-radius: 50%;
}
.product_listing_main .product_links .btn i {display: block;font-size: 18px;line-height: 35px;}


/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.featured_products .bx-wrapper {max-width: 100% !important;}

.featured_products .bx-controls {position: absolute;right: 15px;top: 0;z-index: 99;}
.featured_products .bx-controls a {width: 20px;height: 20px;display: inline-block;font-size: 0;color: {{ settings.color_2 }};text-align: center;}
.featured_products .bx-controls a:hover {color: {{ settings.color_4 }};}

.featured_products .bx-controls a:before {display: block;font: 17px/18px 'FontAwesome';}

.featured_products .bx-prev:before {content: '\f104';padding: 0 1px 0 0;}
.featured_products .bx-next:before {content: '\f105';padding: 0 0 0 1px;}

.featured_products .bx-prev {}
.featured_products .bx-next {}


.product_homepage {width: 300px !important;margin: 0;}


/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection {}
.product_collection.item3_1 {clear: left;}

.view_list {}
.view_list .product {width: 100%;float: none;overflow: hidden;}
.view_list .product_img {width: 200px;float: left;}
.view_list .product_info {margin: 0 0 0 215px;}
.view_list .product_price {padding: 0;}
.view_list .product_name {padding: 5px 0 0 0;}
.view_list .product_desc {display: none;}
.view_list .product_desc_long {display: block;padding: 5px 0 0 0;}




/* 7.6 OTHER HOMEPAGE BLOCKS */




/* 7.7 FOOTER */
footer {margin: 30px 0 0 0;background: {{ settings.color_2 }};}
footer h3 {margin: 0;font-weight: 300;font-size: 13px;color: {{ settings.color_1 }};}


.footer_row__1 {}
.footer_row__1 h3 {padding: 40px 0 0 0;}

.footer_block__1 {}
.footer_block__1 p {margin: 15px 0 0 0;font-size: {{ settings.base_font_size }};line-height: 1.6em;}

.footer_block__2 {}
.footer_block__2 ul {}
.footer_block__2 ul li {margin: 15px 0 0 0;}
.footer_block__2 ul li a {color: {{ settings.base_font_color }};}
.footer_block__2 ul li i {vertical-align: middle;margin: 0 5px 0 0;font-size: 14px;color: {{ settings.color_4 }};
{{ trans_colors }}
}
.footer_block__2 ul li span {color: {{ settings.color_4 }};
{{ trans_colors }}
}

.footer_block__2 ul li a:hover,
.footer_block__2 ul li a:hover i,
.footer_block__2 ul li a:hover span {color: {{ settings.color_1 }};}


.footer_row__2 {margin: 35px 0 0 0;border-top: 1px solid rgba(255,255,255,.1);}
.footer_row__2 h3 {padding: 30px 0 0 0;}

.footer_row__2 ul {padding: 5px 0 0 0;}
.footer_row__2 ul li {padding: 9px 0 0 0;}
.footer_row__2 ul li a {color: {{ settings.color_4 }};}
.footer_row__2 ul li a:hover {color: {{ settings.color_1 }};}

.footer_block__6 {}
.footer_block__6 a {color: {{ settings.base_font_color }};}
.footer_block__6 a i {width: 15px;display: inline-block;vertical-align: middle;margin: 0 10px 0 0;font-size: 14px;color: {{ settings.color_4 }};text-align: center;}
.footer_block__6 a:hover {color: {{ settings.color_1 }};}


footer .copyright {margin: 30px 0 0 0;padding: 20px 0 38px 0;border-top: 1px solid rgba(255,255,255,.1);}
footer .copyright p {margin: 0;}
footer .copyright a {color: {{ settings.base_font_color }};}
footer .copyright a:hover {color: {{ settings.color_1 }};}


/* BACK TO TOP BUTTON */
#back_top {width: 38px;height: 38px;display: block;margin: 0 0 0 615px;background: {{ settings.color_4 }};color: {{ settings.color_1 }};text-align: center;position: fixed;left: 50%;bottom: 50px;z-index: 999;
-webkit-border-radius: 50%;
        border-radius: 50%;
}
#back_top:before {content: '\f106';font: 18px/37px 'FontAwesome';}
#back_top:hover {background: {{ settings.color_2 }};
-webkit-box-shadow: 0 0 7px 0 rgba(255,255,255,.25);
        box-shadow: 0 0 7px 0 rgba(255,255,255,.25);
}




/********************************************************************************************************
                           8. COLLECTION PAGES
********************************************************************************************************/

/* 8.1 BREADCRUMBS */
.breadcrumb_wrap {margin: 0 0 30px 0;}
.breadcrumb {margin: 0;padding: 7px 15px;background: {{ settings.color_1 }};
-webkit-border-radius: 0;
        border-radius: 0;
}




/* 8.2 DESCRIPTIONS & TAGS */
.collection_info {}
.collection_info .collection_img {margin-top: 15px;text-align: center;}
.collection_info .collection_desc {margin-top: 15px;}
.collection_info .collection_desc .rte {margin: 0;}

ul.tags {margin: 10px 0 0 0;list-style-type: none;}
ul.tags li {float: left;margin: 5px 5px 0 0;}
ul.tags li a {display: block;padding: 5px 10px;background: {{ settings.color_2 }};color: {{ settings.color_1 }};
-webkit-border-radius: 5px;
        border-radius: 5px;
}

ul.tags li a:hover,
ul.tags li.active a {background: {{ settings.color_4 }};}




/* 8.3 PRODUCTS SORTING */
.product_listing_controls {overflow: hidden;margin: 30px 0 0 0;padding: 0 10px 10px 10px;background: {{ settings.color_1 }};border: 1px solid {{ settings.color_3 }};}

.product_listing_toggle {float: left;font-size: 0;}
.product_listing_toggle li {width: 30px;height: 30px;display: inline-block;margin: 10px 10px 0 0;;border: 1px solid transparent;color: {{ settings.base_font_color }};text-align: center;cursor: pointer;
{{ trans_colors }}
}
.product_listing_toggle li.active {background: {{ settings.color_4 }};border-color: {{ settings.color_4 }};color: {{ settings.color_1 }};cursor: default;}
.product_listing_toggle li i {font-size: 18px;line-height: 29px;}

.sort_by {float: right;margin: 10px 0 0 10px;}
.sort_by label {margin: 0 4px 0 0;line-height: 30px;}
.sort_by select {width: auto !important;height: 30px;display: inline-block;padding: 5px 4px;cursor: pointer;
-webkit-border-radius: 0;
        border-radius: 0;
}

.show_products {float: right;margin: 10px 0 0 10px;}
.show_products label {margin: 0 4px 0 0;line-height: 30px;}
.show_products select {width: auto !important;height: 30px;display: inline-block;padding: 5px 4px;cursor: pointer;
-webkit-border-radius: 0;
        border-radius: 0;
}

#product_listing_preloader {position: relative;}
#product_listing_preloader p {width: 100%;height: 32px;background: url({{ 'bx_loader.gif' | asset_url }}) 50% 0 no-repeat;position: absolute;left: 0;top: 0;}




/* 8.4 COLLECTION LISTING */
.collection_listing_main {}

.collection_listing_main .collection_wrap {padding: 20px;border: 1px solid {{ settings.border_color }};}

.collection_listing_item {margin: 30px 0 0 0;}
.collection_listing_item.item_4_1 {clear: left;}

.collection_listing_item .collection_img {}
.collection_listing_item .collection_img a {}

.collection_listing_item .collection_info {}
.collection_listing_item .collection_name {margin: 15px 0 0 0;}
.collection_listing_item .collection_products {margin: 5px 0 0 0;}
.collection_listing_item .collection_desc {margin: 5px 0 0 0;}
.collection_listing_item .btn {margin: 15px 0 0 0;}




/* 8.5 PAGINATION */
.products_count {height: 30px;float: left;margin: 10px 10px 0 0;font-size: 14px;line-height: 30px;color: {{ settings.color_2 }};}

#pagination {display: inline-block;overflow: hidden;float: right;margin: 10px 0 0 10px;font-size: 0;}
#pagination span {display: inline-block;vertical-align: top;}
#pagination span ~ span {margin: 0 0 0 2px;}

#pagination span a {height: 30px;display: block;padding: 0 10px;border: 1px solid transparent;font-size: 13px;line-height: 28px;color: {{ settings.color_2 }};}
#pagination span.page a {width: 30px;padding: 0;text-align: center;}

#pagination span a:hover {background: {{ settings.color_2 }};border-color: {{ settings.color_2 }};color: {{ settings.color_1 }};}

#pagination span.current {width: 30px;height: 30px;background: {{ settings.color_4 }};border: 1px solid {{ settings.color_4 }};font-weight: bold;font-size: 13px;line-height: 28px;color: {{ settings.color_1 }};text-align: center;cursor: default;}




/********************************************************************************************************
                           9. SIDEBAR WIDGETS
********************************************************************************************************/

.sidebar_widget {}
.sidebar_widget ~ .sidebar_widget {margin: 30px 0 0 0;}

.sidebar_widget .widget_header {margin: 0;padding: 14px 20px;background: {{ settings.color_1 }};font-size: {{ settings.heading_font_size }};}

.sidebar_widget .widget_content {}




/* 9.1 LINKS LIST */
.list_links {margin: 30px 0 0 0;}
.list_links li {}
.list_links li a {display: block;padding: 12px 20px;background: {{ settings.color_1 }};font-weight: 300;font-size: 14px;line-height: 1.2em;color: {{ settings.color_2 }};}
.list_links li ~ li a {border-top: 1px solid rgba(0,0,0,.1);}
.list_links li a:after {content: '\f105';vertical-align: middle;float: right;margin: 0 0 0 7px;font: 14px/1.2em 'FontAwesome';
opacity: .3;
}

.list_links li.active a {font-weight: bold;color: {{ settings.color_4 }};}
.list_links li a:hover {color: {{ settings.color_4 }};}


.sidebar_widget__collections {margin: -60px 0 0 0;}
.sidebar_widget__collections .widget_header {height: 60px;padding: 0 20px;background: {{ settings.color_4 }};font-size: 19px;line-height: 60px;color: {{ settings.color_1 }};
-webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
}
.sidebar_widget__collections .list_links {margin: 0;}
.sidebar_widget__collections .widget_header:before {content: '\f0c9';margin: 0 10px 0 0;font: 21px 'FontAwesome';}




/* 9.2 SIDEBAR PRODUCT LISTING */
.list_products {}

.list_products .product {overflow: hidden;margin: 30px 0 0 0;padding: 20px;background: {{ settings.color_1 }};}

.list_products .product_img {width: 80px;float: left;}

.list_products .product_info {margin: 0 0 0 95px;}

.list_products .product_price {font-size: 19px;color: {{ settings.product_price_color }};}
.list_products .product_price .money {}
.list_products .product_price .compare-at-price {font-weight: 300;font-size: 15px;color: {{ settings.base_font_color }};}

.list_products .product_name {padding: 3px 0 0 0;}

.list_products .product_links {padding: 10px 0 0 0;}
.list_products .product_links .btn {width: 38px;height: 38px;margin: 0 6px 0 0;padding: 0;
-webkit-border-radius: 50%;
        border-radius: 50%;
}
.list_products .product_links .btn i {display: block;font-size: 18px;line-height: 35px;}




/* 9.3 SIDEBAR BLOG WIDGETS */
.list_articles {}
.list_articles li {margin: 30px 0 0 0;}

.list_articles .item_title {margin: 0;font-size: 14px;}

.list_articles .item_content {margin: 10px 0 0 0;}

.list_articles .article_comments__link {margin: 10px 0 0 0;}


.list_comments {}
.list_comments li {margin: 30px 0 0 0;}

.list_comments a {display: block;overflow: hidden;padding: 15px 15px 15px 0;background: {{ settings.color_3 }};}

.list_comments .item_quot {width: 50px;vertical-align: top;float: left;font-size: 60px;line-height: 1em;color: {{ settings.color_4 }};text-align: center;}

.list_comments .item_content {display: block;margin: 0 0 0 50px;color: {{ settings.base_font_color }};
{{ trans_colors }}
}
.list_comments a:hover .item_content {color: {{ settings.color_4 }};}

.list_comments .item_author {display: block;overflow: hidden;padding: 7px 0 0 0;color: {{ settings.base_font_color }};}
.list_comments .item_author:before {content: '\f007';margin: 0 5px 0 0;font: 13px 'FontAwesome';color: {{ settings.color_4 }};}
.list_comments .item_author span {float: right;margin: 0 0 0 15px;}
.list_comments .item_author span:before {content: '\f017';margin: 0 5px 0 0;font: 13px 'FontAwesome';color: {{ settings.color_4 }};}




/********************************************************************************************************
                           10. SEARCH RESULTS PAGE
********************************************************************************************************/

#searchresults {margin: 0;}
#searchresults .search-form {margin: 15px 0 0 0;}
#searchresults .search-form input {width: 100%;float: left;padding: 0 34px 0 10px;}
#searchresults .search-form button {width: 34px;height: 34px;float: left;margin: 0 0 0 -34px;background: none;border: none;font-size: 20px;color: {{ settings.link_color }};}
#searchresults .search-form button:hover {color: {{ settings.link_color_hover }};}
#searchresults .search-form button i {line-height: 32px;}

#searchresults h3 {margin: 0;padding: 0;} 

#searchresults ol {list-style-type: none;padding: 15px 0 0 0;border-bottom: 1px solid {{ settings.border_color }};}
#searchresults ol li {overflow: hidden;margin: 0;padding: 15px 0;border-top: 1px solid {{ settings.border_color }};}
#searchresults ol li .search-result_image {float: left;margin-right: 15px;}
#searchresults ol li .search-result_container {padding: 15px 0 0 0;}




/********************************************************************************************************
                           11. PRODUCT PAGE
********************************************************************************************************/

.product_wrap {}




/* 11.1 PRODUCT IMAGES */
/* BIG IMAGE + ZOOM */
.elevatezoom_big_wrapper {width: 370px;padding: 4px;background: {{ settings.color_1 }};border: 1px solid {{ settings.border_color }};}

.zoomWrapper,
#elevatezoom_big {width: 360px !important;height: auto !important;position: relative !important;}

#elevatezoom_big {background: rgba(0,0,0,.05);}
#elevatezoom_big ~ #elevatezoom_big {width: 0 !important;height: 0 !important;}

.zoomWrapper {}

.zoomContainer {z-index: 1 !important;}
.zoomLens {z-index: 1 !important;}
.zoomWindow {margin: -5px 0 0 0 !important;}


/* THUMBS */
#elevatezoom_gallery {}
#elevatezoom_gallery a {width: 85px !important;display: block;margin: 0 10px 0 0;padding: 4px;border: 1px solid {{ settings.border_color }};}
#elevatezoom_gallery a img {background: rgba(0,0,0,.05);}


/* THUMBS NAV */
.product_images .bx-wrapper {max-width: 100% !important;margin: 10px 0 0 0;position: relative;}
.product_images .bx-viewport {height: auto !important;}

.product_images .bx-controls a {width: 25px;height: 40px;display: block;overflow: hidden;margin: -20px 0 0 0;background: rgba(0,0,0,.6);color: {{ settings.color_1 }};text-align: center;position: absolute;top: 50%;
opacity: .5;

-webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,.3);
        box-shadow: 0 0 10px 0 rgba(255,255,255,.3);

{{ trans_fast }}
}
.product_images:hover .bx-controls a {
opacity: 1;
}
.product_images .bx-controls a:hover {background: rgba(0,0,0,.8);}

.product_images .bx-controls a:before {font: 22px/39px 'FontAwesome';}

.product_images .bx-controls a.bx-prev {left: 0;}
.product_images .bx-controls a.bx-prev:before {content: '\f104';}
.product_images .bx-controls a.bx-next {padding: 0 0 0 1px;right: 0;}
.product_images .bx-controls a.bx-next:before {content: '\f105';}




/* 11.2 PRODUCT INFO */
.product_info__wrapper {display: table;}
.product_info__wrapper .product_info__left {width: 500px;display: table-cell;padding: 0 20px 0 0;}
.product_info__wrapper .product_info__right {width: 270px;display: table-cell;padding: 0 0 0 20px;border-left: 1px solid {{ settings.border_color }};}

.product_info__wrapper label {font-weight: normal;font-size: 14px;line-height: 1.5em;color: {{ settings.color_2 }};}


.product_info__wrapper .product_name {font-size: 18px;}


/* VARIANTS */
.product_info__wrapper .variants-wrapper {overflow: hidden;margin: 0 -10px;padding: 0 0 5px 0;}
.product_info__wrapper .selector-wrapper {width: 33.33333333333333%;float: left;padding: 15px 10px 0 10px;}
.product_info__wrapper .selector-wrapper label {display: block;}
.product_info__wrapper .selector-wrapper select {width: 99%;height: 37px;margin: 5px 0 0 0;padding: 5px;
-webkit-border-radius: 0;
        border-radius: 0;
}


/* DETAILS */
.product_info__wrapper .product_details {margin: 15px 0 0 0;padding: 5px 0 0 0;border-top: 1px solid {{ settings.border_color }};}
.product_info__wrapper .product_details__item {margin: 10px 0 0 0;font-size: 14px;line-height: 1.5em;color: {{ settings.color_4 }};}
.product_info__wrapper .product_details__item a {color: {{ settings.color_4 }};text-decoration: underline;}
.product_info__wrapper .product_details__item a:hover {text-decoration: none;}

.product_tags span:before {content: '\f02b';margin: 0 3px 0 7px;font: 13px 'FontAwesome';}


/* PRICE */
#product_price {position: relative;}
#product_price .price {margin: 0;padding: 0 60px 0 0;}
#product_price .money {margin: 0 7px 0 0;font-size: 20px;}
#product_price .money_sale {font-size: 16px;}
#product_price .money_sale_percent {width: 52px;height: 26px;display: block;margin: -13px 0 0 0;background: {{ settings.product_price_color }};font: bold 14px/26px 'Arial';color: {{ settings.color_1 }};text-align: center;position: absolute;right: 0;top: 50%;
-webkit-border-radius: 2px;
        border-radius: 2px;
}


/* QUANTITY */
#product_quantity {margin: 15px 0 0 0;}


/* ADD TO CART FORM */
#purchase {margin: 15px 0 0 0;}
#purchase label {display: block;}


/* QUANTITY BOX (GLOBAL STYLES) */
.quantity_box {display: inline-block;margin: 10px 10px 0 0;}
.quantity_box input {width: 54px;height: 24px;display: block;padding: 0;background: {{ settings.color_1 }};border: 2px solid {{ settings.border_color }} !important;font-size: 15px;text-align: center;
-webkit-box-shadow: none !important;
        box-shadow: none !important;

-webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
}

.quantity_box .quantity_modifier {width: 26px;height: 24px;display: block;float: left;background: {{ settings.color_1 }};border: 2px solid {{ settings.border_color }};text-align: center;cursor: pointer;}
.quantity_box .quantity_modifier:active {color: {{ settings.color_4 }};}
.quantity_box .quantity_modifier i {font-size: 14px;line-height: 22px;}

.quantity_box .quantity_down {margin: 2px 0 0 0;
-webkit-border-radius: 0 0 0 5px;
        border-radius: 0 0 0 5px;
}
.quantity_box .quantity_up {margin: 2px 0 0 2px;
-webkit-border-radius: 0 0 5px 0;
        border-radius: 0 0 5px 0;
}

#purchase #add-to-cart {height: 50px;margin: 10px 10px 0 0;padding: 0 20px;font-size: 18px;}


/* ADDTHIS */
.product_info__wrapper .addthis_sharing_toolbox {margin: 20px 0 0 0;padding: 17px 0 0 0;border-top: 1px solid {{ settings.border_color }};}
.product_info__wrapper .addthis_sharing_toolbox .at-share-btn {vertical-align: top;margin: 3px 3px 0 0 !important;}


/* DESCRIPTION */
.product_wrap .product_description {}
.product_wrap .product_description__title {margin: 40px 0 0 0;}




/* 11.3 PRODUCT PAGINATION */
.product_pagination {width: 100%;overflow: hidden;margin: 40px 0 0 0;}
.product_pagination .product_prev {float: left;}
.product_pagination .product_next {float: right;}




/* 11.4 RELATED PRODUCTS */
.widget_related_products {}
.widget_related_products h3 {margin: 40px 0 0 0;}

ul.product_listing_related {list-style-type: none;}
ul.product_listing_related .product_wrapper {overflow: hidden;}

ul.product_listing_related .product_img {}
ul.product_listing_related .product_name {}
ul.product_listing_related .product_price {}




/********************************************************************************************************
                           12. BLOG
********************************************************************************************************/

.article_date {width: 70px;float: left;cursor: default;}
.article_date .date_1 {width: 70px;height: 70px;display: block;background: {{ settings.color_1 }};font-weight: bold;font-size: 46px;line-height: 69px;color: {{ settings.color_4 }};text-align: center;letter-spacing: -3px;}
.article_date .date_2 {width: 70px;height: 30px;display: block;background: {{ settings.color_4 }};font-size: 11px;line-height: 29px;color: {{ settings.color_1 }};text-align: center;text-transform: uppercase;}


.article_comments__link {display: inline-block;}
.article_comments__link:before {content: '\f086';margin: 0 5px 0 0;font: 13px 'FontAwesome';color: {{ settings.color_4 }};}


.article_body {margin: 0 0 0 100px;}


.blog_tags {margin: 20px 0 0 0;font-size: 0;}
.blog_tags a {display: inline-block;margin: 10px 10px 0 0;padding: 5px 10px;background: {{ settings.color_1 }};font-size: {{ settings.base_font_size }};color: {{ settings.base_font_color }};}
.blog_tags a:before {content: '\f02b';margin: 0 5px 0 0;font: 13px 'FontAwesome';color: {{ settings.color_4 }};}

.blog_tags a:hover {background: {{ settings.color_4 }};color: {{ settings.color_1 }};}
.blog_tags a:hover:before {color: {{ settings.color_1 }};}

.blog_tags a.tag_active {background: {{ settings.color_4 }};color: {{ settings.color_1 }} !important;cursor: default;}
.blog_tags a.tag_active:before {color: {{ settings.color_1 }};}




/* 12.1 POSTS LISTING */
.blog_listing {}
.blog_listing__article {margin: 30px 0 0 0;}
.blog_listing__article ~ .blog_listing__article {margin: 50px 0 0 0;}


.article_header {}
.article_header h3 {margin: 0;font-size: 16px;}
.article_header p {margin: 10px 0 0 0;}

.article_header .article_header__author {margin: 0 15px 0 0;}
.article_header .article_header__author:before {content: '\f007';margin: 0 5px 0 0;font: 13px 'FontAwesome';color: {{ settings.color_4 }};}


.article_content {margin: 30px 0 0 0;}


.article_footer {}
.article_footer .blog_tags {}
.article_footer .btn {margin: 30px 0 0 0;}


.blog_listing .product_listing_controls {margin: 40px 0 0 0;}




/* 12.2 SINGLE POST */
.blog_article {padding: 30px 0 0 0;}


.blog_article .article_footer {}
.blog_article .article_footer .addthis_sharing_toolbox {margin: 25px 0 0 0;}
.blog_article .article_footer .addthis_sharing_toolbox a {vertical-align: top;margin: 5px 5px 0 0;}


.blog_article .article_pagination {overflow: hidden;margin: 15px 0 0 0;}

.blog_article .article_pagination .article_prev {float: left;margin: 15px 15px 0 0;}
.blog_article .article_pagination .article_prev:before {content: '\f060';margin: 0 10px 0 0;font: 14px 'FontAwesome';}

.blog_article .article_pagination .article_next {float: right;margin: 15px 0 0 0;}
.blog_article .article_pagination .article_next:after {content: '\f061';margin: 0 0 0 10px;font: 14px 'FontAwesome';}


.blog_article .article_comments {margin: 30px 0 0 0;border-top: 1px solid {{ settings.border_color }};}
.blog_article .article_comments h3 {margin: 30px 0 0 0;}


.article_comments__list {}
.article_comments__list li {margin: 30px 0 0 0;padding: 20px;background: {{ settings.color_3 }};}
.article_comments__list li ~ li {margin: 20px 0 0 0;}
.article_comments__list .comment_author {overflow: hidden;margin: 0;color: {{ settings.color_4 }};}
.article_comments__list .comment_author:before {content: '\f007';margin: 0 5px 0 0;font: 13px 'FontAwesome';}
.article_comments__list .comment_author span {float: right;margin: 0 0 0 15px;}
.article_comments__list .comment_content {margin: 10px 0 0 0;}

.article_comments__form {margin: 30px 0 0 0;border-top: 1px solid {{ settings.border_color }};}
.article_comments__form h3 {margin: 30px 0 0 0;}
.article_comments__form .btn {margin: 15px 0 0 0;}




/********************************************************************************************************
                           13. CUSTOMER PAGES
********************************************************************************************************/

.account_section {margin: 30px 0 0 0;padding: 30px;background: {{ settings.color_1 }};border: 1px solid {{ settings.border_color }};border-top: 2px solid {{ settings.color_4 }};}


.account_section h4 {overflow: hidden;margin: 0;font-size: 16px;}
.account_section h4 span {vertical-align: top;float: right;}
.account_section h4 a {font-weight: normal;}
.account_section h4 a ~ a {margin: 0 0 0 15px;}
.account_section h4 a:before {vertical-align: top;margin: 0 5px 0 0;font: 14px/24px 'FontAwesome';}
.account_section h4 a.link_add:before {content: '\f067';}
.account_section h4 a.link_edit:before {content: '\f040';}
.account_section h4 a.link_close:before {content: '\f00d';}
.account_section h4 a.link_delete:before {content: '\f1f8';}

.account_section p.note {margin: 15px 0 0 0;}
.account_section .btn {margin-right: 15px;}
.account_section label {line-height: 34px;}


.account_section .address_item {line-height: 26px;}
.account_section .address_item:before {width: 26px;height: 26px;display: inline-block;vertical-align: middle;margin: 0 7px 0 0;background: {{ settings.color_4 }};border: 1px solid {{ settings.color_4 }};font: 15px/25px 'FontAwesome';color: {{ settings.color_1 }};text-align: center;cursor: default;
-webkit-border-radius: 50%;
        border-radius: 50%;
}

.account_section .address_item {margin: 15px 0 0 0;}
.account_section .address_item ~ .address_item {margin: 10px 0 0 0;}

.account_section .address_location {}
.account_section .address_location:before {content: '\f015';}

.account_section .address_phone {}
.account_section .address_phone:before {content: '\f095';font-size: 14px;}

.account_section .address_user {}
.account_section .address_user:before {content: '\f007';}


.account_section input[type="radio"],
.account_section input[type="checkbox"] {margin: 10px 5px 0 0;}


.account_wrapper {width: 100%;height: 100%;display: table;margin: 30px 0 0 0;}
.account_wrapper .account_left {width: 50%;height: 100%;display: table-cell;padding: 0 15px 0 0;}
.account_wrapper .account_right {width: 50%;height: 100%;display: table-cell;padding: 0 0 0 15px;}
.account_wrapper .account_section {width: 100%;height: 100%;margin: 0;}




/* 13.1 LOGIN */
#account_login {}
#account_login .account_left {}
#account_login .account_left ul {margin: 10px 0 0 0;}
#account_login .account_left ul li {margin: 5px 0 0 0;color: {{ settings.color_2 }};text-transform: uppercase;}
#account_login .account_left ul li:before {content: '\f00c';margin: 0 7px 0 0;font: 14px 'FontAwesome';color: {{ settings.color_4 }};}
#account_login .account_left .btn {margin-top: 15px;}


#account_reset {}


#account_guest {margin: 30px 0 0 0;}
#account_guest .btn {margin-top: 15px;}




/* 13.2 RESET PASSWORD */
#account_reset_form {margin: 0;}




/* 13.3 ACCOUNT */
.account_area {}
.account_area .page_heading {overflow: hidden;padding: 0 0 10px 0;background: none;border: none;border-bottom: 2px solid {{ settings.border_color }};position: relative;}
.account_area .page_heading a {display: block;float: right;margin: 4px 0 0 10px;font-size: 14px;}
.account_area .page_heading a.link_logout {position: absolute;right: 0;top: 0;}


/* WELCOME MESSAGE */
.account_welcome {text-align: center;}
.account_welcome .page_heading {}
.account_welcome .page_heading:before {content: '\f007';margin: 0 7px 0 0;font-family: 'FontAwesome';}


.account_welcome__name {margin: 30px 0 0 0;color: {{ settings.color_4 }};}

.account_welcome__desc {}


/* ACCOUNT TABLES */
.account_table {width: 100%;margin: 15px 0 0 0;}

.account_table th,
.account_table td {vertical-align: middle;}


.table_info {}
.table_info tr {}
.table_info tr ~ tr {border-top: 1px solid {{ settings.border_color }};}
.table_info td {padding: 5px 0;}
.table_info td ~ td {padding: 5px 0 5px 5px;color: {{ settings.color_2 }};text-align: right;}


.table_orders {}
.table_orders thead {border-bottom: 2px solid {{ settings.border_color }};}
.table_orders th {padding: 5px 7px;background: {{ settings.color_3 }};border: 1px solid {{ settings.border_color }};color: {{ settings.color_2 }};text-transform: uppercase;}

.table_orders tbody {}
.table_orders td {padding: 5px 7px;border: 1px solid {{ settings.border_color }};}

.table_orders tfoot {border-top: 2px solid {{ settings.border_color }};}

.table_orders p {margin: 7px 0 0 0;}

.table_orders a {text-decoration: underline;}
.table_orders a:hover {text-decoration: none;}

.table_orders .cell_fulfillment {}
.table_orders .cell_total {text-align: right;}

.table_orders .row_total {border-top: 2px solid {{ settings.border_color }};font-size: 14px;}
.table_orders .row_total .money {font-weight: bold;}


/* DEFAULT ADDRESS */
.account_default {}
.account_default .address_all {margin: 15px 0 0 0;}
.account_default .address_all a {text-decoration: underline;}
.account_default .address_all a:hover {text-decoration: none;}




/* 13.4 ADDRESSES */
.account_address__item {}
.account_address__item h4 {padding: 0 0 7px 0;border-bottom: 1px solid {{ settings.border_color }};}




/* 13.5 ORDERS */
.order_cancelled {}
.order_cancelled h4 {margin: 0;font-size: 14px;}
.order_cancelled p {margin: 10px 0 0 0;}




/********************************************************************************************************
                           14. CART PAGE
********************************************************************************************************/

.cart_page {}


.cart_page .page_heading {}
.cart_page .page_heading #cart_loader {width: 44px;height: 44px;display: block;margin: 0 0 0 -22px;background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNrs2TEKwkAUhOEXBSurQM5jo2AbyG2EgIfyCkKqXEDiGYI2QkBn5aXYYBqb7MAM/Ft/LNutWbwtqtEVDei9UIMbajf93A51CyLn6twWrUwQOq0csTl6EICDMV/jOKG9pb+Nv21rCW53rM1wvFzPsD5zOc1WRjaBBRZYYIEFFlhggQUWWGCBBRZYYIEFFvh/cE/kfQbwnQh8C+ALEfhrLYznU6YY5RUBuJpe98HS/Vg8zr2R8E16Rk0C0MYt0dftR4ABAFfva4h/thfHAAAAAElFTkSuQmCC') 0 0 no-repeat;position: fixed;left: 50%;top: 0;z-index: 1000;
opacity: 0;

{{ trans_fast }}
}
.cart_page .page_heading #cart_loader:after {content: '';width: 44px;height: 44px;display: block;background: url('fancybox_loading.gif') 50% 50% no-repeat;}

.cart_page .page_heading #cart_loader.loading {top: 60px;
opacity: 1;
}


.cart_list {width: 100%;max-width: 100%;margin: 30px 0 0 0;background: {{ settings.color_1 }};}
.cart_list th {padding: 15px 20px;background: {{ settings.color_2 }};border: 1px solid {{ settings.border_color }};font-size: 14px;color: {{ settings.color_1 }};text-transform: uppercase;}
.cart_list th ~ th {text-align: center;}
.cart_list td {padding: 20px;border: 1px solid {{ settings.border_color }};}

.cart_list .cart_price {font-size: 16px;text-align: right;}


.cart_item {}
.cart_item__img {width: 140px;float: left;}
.cart_item__info {margin: 0 0 0 160px;}
.cart_item__name {margin: 0;}
.cart_item__variant {margin: 15px 0 0 0;font-size: 12px;color: {{ settings.color_4 }};}

.cart_item__details {margin: 10px 0 0 0;}
.cart_item__details p {margin: 5px 0 0 0;color: {{ settings.color_4 }};}
.cart_item__details p span {color: {{ settings.color_2 }};}

.cart_item .quantity_box {width: 88px;height: 24px;margin: 0;position: relative;}
.cart_item .quantity_box input {width: 40px;position: absolute;left: 24px;top: 0;}
.cart_item .quantity_box .quantity_down {margin: 0;position: absolute;left: 0;top: 0;
-webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
}
.cart_item .quantity_box .quantity_up {margin: 0;position: absolute;right: 0;top: 0;
-webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
}
.cart_item .cart_update {width: 88px;display: block;margin: 5px 0 0 0;}

.cart_item__remove {font-size: 14px;}
.cart_item__remove i {vertical-align: baseline;}


.cart_list .cart_buttons .btn {float: right;margin: 0 0 0 20px;}
.cart_list .cart_buttons .btn-alt {float: none;margin: 0;}
.cart_list .cart_buttons .btn:before {margin: 0 7px 0 0;font: 14px 'FontAwesome';}
.cart_list .cart_buttons .cart_continue:before {content: '\f060';}
.cart_list .cart_buttons .cart_update:before {content: '\f021';}
.cart_list .cart_buttons #cart_clear:before {content: '\f1f8';}

.cart_list .cart_summary .cart_summary__row {margin: 0;padding: 0 0 10px 0;border-bottom: 1px solid {{ settings.border_color }};font-size: 18px;color: {{ settings.color_2 }};}
.cart_list .cart_summary .cart_summary__row ~ .cart_summary__row {padding: 10px 0;}
.cart_list .cart_summary .cart_summary__row span {float: right;}

.cart_list .cart_summary .cart_summary__notification {margin: 20px 0 0 0;}

.cart_list .cart_summary .cart_summary__instructions {margin: 15px 0 0 0;}
.cart_list .cart_summary .cart_summary__instructions label {display: block;padding: 0 0 3px 0;font-weight: normal;color: {{ settings.color_2 }};}
.cart_list .cart_summary .cart_summary__instructions textarea {width: auto !important;height: 100px !important;max-width: 100% !important;resize: none;}

.cart_list .cart_summary .cart_summary__checkout {}
.cart_list .cart_summary .cart_summary__checkout button {float: right;margin: 20px 0 0 10px;padding: 10px 20px;font-size: 16px;}

.cart_list .cart_summary .cart_summary__methods {float: left;}
.cart_list .cart_summary .cart_summary__methods li {float: left;margin: 20px 10px 0 0;}


/* EMPTY CART NOTIFICATION */
.cart_empty {}
.cart_empty .alert {}
.cart_empty h3 {}
.cart_empty h3 a {font-weight: inherit;text-decoration: underline;}
.cart_empty h3 a:hover {text-decoration: none;}




/********************************************************************************************************
                           15. CONTACTS PAGE
********************************************************************************************************/

.contact-scope {}
.contact-scope #google_map {margin: 15px 0;}

.contact-form {}

#contact_page #google_map {width: 100%;margin: 15px 0;border: 1px solid {{ settings.border_color }};}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="telephone"],
.contact-form textarea {}

.contact-form textarea {width: 100%;}

.contact-form_buttons {}
.contact-form_buttons .btn-toolbar {}




/********************************************************************************************************
                           16. PAGE 404
********************************************************************************************************/

.template-404 h2,
.template-404 h2 a {vertical-align: baseline;}