﻿<style>
    .ShopFooter {
        background-color: white;
        margin-top: 30px;
        min-height: 400px;
    }

    .ShopFooter h2 {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .ShopFooter ul {
        padding: 0px;
    }

    .ShopFooter ul li {
        font-size: 18px;
        list-style: none;
        margin-bottom: 20px;
        color: #939393;
    }

    .footer-contentTop-link {
        padding-top: 1.25rem;
        font-size: 18px;
        color: #939393;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        -webkit-transition: 0.6s all;
        transition: 0.6s all;
        position: relative;
    }

    .footer-contentTop-link:hover:after {
        height: 4px;
        opacity: 1;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    .footer-contentTop-link:after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background: #4050af;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

</style>

<div class="row ShopFooter">
    <div class="container">
        <div class="col-md-3">
            <img style="width: 100px; margin-top: 25px;" src="~/Content/Images/logo.png" />
        </div>

        <div class="col-md-3">
            <h2>
                Каталог
            </h2>

            <ul>
                <li>
                    @Html.ActionLink("Спортивные товары", "Category", new {Controller = "Catalog", id = 15}, new {@class= "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Спортивная экипировка", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>
                
                <li>
                    @Html.ActionLink("Спортивное питание", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Наградная продукция", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

            </ul>
        </div>

        <div class="col-md-3">
            <h2>
                О компании
            </h2>

            <ul>
                <li>
                    @Html.ActionLink("Условия работы", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Контакты", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>
                Дополнительно
            </h2>

            <ul>
                <li>
                    @Html.ActionLink("Как выбрать размер?", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Как заказать?", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Доставка", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>

                <li>
                    @Html.ActionLink("Реквизиты", "Category", new { Controller = "Catalog", id = 15 }, new { @class = "footer-contentTop-link" })
                </li>
            </ul>
        </div>

    </div>
</div>