﻿@model Dan.View.Shared.Navigation.IPageNavigationView

@if (Model.CountPage > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                @Html.ActionLink("«", Model.ControllerAction, Model.ControllerName, new { page = 1 }, null)
            </li>
            @for (int i = Model.PageBegin; i <= Model.PageEnd; i++)
            {
                if (Model.PageNo == i)
                {
                    <li class="active">
                        @Html.ActionLink(i.ToString(), Model.ControllerAction, Model.ControllerName, new { page = i }, null)
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(i.ToString(), Model.ControllerAction, Model.ControllerName, new { page = i }, null)
                    </li>
                }
            }
            <li>
                @Html.ActionLink("»", Model.ControllerAction, Model.ControllerName, new { page = Model.CountPage }, null)
            </li>
        </ul>
    </nav>
}