﻿@using Dan.Controllers
@{
    var v1 = Session["CartCost"];
    var cartCost = int.Parse((Session["CartCost"] ?? "0").ToString()).ToString("n", CartController.CurrencyFormat);
}

<script type="text/javascript">
    function OnSuccessAddProductToCart(data) {
        console.log(data);
        UpdateCartCost(data.cart.cost);
        UpdateCartAmount(data.cart.amount);
    }

    function UpdateCartWish(val) {
        $("#CartWish").html(val);
    }

    function UpdateCartCost(val) {
        $("#CartCost").html(val);

    }

    function UpdateCartAmount(val) {
        $("#CartAmount").html(val);
    }


</script>



<div class="row" style="background-color: white;">
    <div class="container" style="margin-bottom: 20px;">
        <div style="float: left;">
            <a href=@Url.Action("Index", "Catalog")>
                <img style="width: 100px; margin-top: 25px;" src="~/Content/Images/logo.png" />
            </a>
        </div>

        <div style="float: left;">
            <ul style="list-style: square; font-size: 16px; margin-top: 25px;">
                <li>
                    Оригинальная спортивная одежка от известных брендов
                </li>
                <li>
                    Вкусное и полезное спортивное питание
                </li>
                <li>
                    Различные аксессауры
                </li>
                <li>
                    И низкие цены
                </li>
            </ul>
        </div>

        <div style="float: left; margin-top: 20px; margin-left: 310px;">
            <div style="background-color: #313f8f;; height: 60px; width: 150px; color: white; font-weight: 700; padding-left: 20px; padding-top: 10px;">
                <div style="float: left; height: 60px; font-size: 24px;padding-top: 5px;">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </div>
                <div style="float: left; padding-left: 10px;">
                    <a href=@Url.Action("Index", "Cart")>
                        Корзина(<span id="CartAmount">@(Session["CartAmount"] ?? "0")</span>)
                    </a>
                </div>
                <div style="float: left; padding-left: 10px;">

                    <span id="CartCost">@cartCost</span> <span class="glyphicon glyphicon-ruble" style="font-size: 13px; font-weight: 100;"></span>
                </div>
                <div class="clearfix;"></div>
            </div>

            <div style="background-color: #95a5a6; height: 40px; line-height: 40px; text-align: center; vertical-align: middle; width: 150px; color: white; font-weight: 700; margin-top: 10px;">
                <a href=@Url.Action("Index", "Order")>
                    Заказы(<span id="CartWish">@(Session["CartWish"] ?? "0")</span>)
                </a>

            </div>
        </div>

    </div>
</div>
